/*
	Variables: Breakpoints
*/

// Breakpoints (from smallest to largest)
$breakpoint--mobile:         gridUnit(30); // 480px
$breakpoint--small_screen:   gridUnit(45); // 720px
$breakpoint--medium_screen:  gridUnit(60); // 960px
$breakpoint--ipadPro:        gridUnit(64); // 1024px
$breakpoint--large_screen:   gridUnit(70); // 1200px
$breakpoint--x_large_screen: gridUnit(90); // 1440px
$breakpoint--super_large_screen: gridUnit(111); // 1776px
$breakpoint--wordpressMobileHeader: 782px;

// Media queries (from smallest to largest)
$breakpoint_media--mobile:             (max-width: #{$breakpoint--small_screen});
$breakpoint_media--tablet:             (max-width: #{$breakpoint--medium_screen});
$breakpoint_media--largeTablet:        (max-width: #{$breakpoint--ipadPro}); //iPad pro
$breakpoint_media--largeScreen:        (max-width: #{$breakpoint--large_screen});
$breakpoint_media--x_large_screen:     (max-width: #{$breakpoint--x_large_screen});
$breakpoint_media--super_large_screen: (max-width: #{$breakpoint--super_large_screen});
