/*
	Variables: Colors
*/
$color-pale-grey: #F6F6F6;
$color-medium-grey: #DBDCDD;
$color-dark-grey: #404041;
$color-purple: #B2519E;
$color-light-purple: #D46BBE;
$color-turquoise: #34A2A0;
$color-orange: #F26B49;
$color-yellow: #FFD866;

$color-white: #ffffff;
$color-black: #000000;
$color-red: #AC1D2A;

$colorPalette: (
	primary: $color-purple,
	secondary: $color-turquoise,
	grey: $color-pale-grey,
	dark-grey: $color-dark-grey,
	alert: $color-red
);

$buttonPalette: (
	default: $color-purple,
	hover: $color-light-purple,
);
