/*
	Variables: Common
*/

//EI11 SVG fix
// Removes height

// _:-ms-fullscreen, :root .msie11 svg {  height: auto }

// Global
$border-radius: 2px;
$stroke-light-grey: 1px solid rgba(#DBDCDD, 0.5);

// Header
$header-height: 98;
$header-height-mega: 147;
$header-height-small: 80;
$wp-admin-bar-height: 32;

// Animation
$animation-duration: 0.3s;
$animation-timing: cubic-bezier(0.74, 0.25, 0.01, 1);

$asset-url: '/wp-content/themes/coact-2018/resources/src/'
