/*
	Variables: Fonts
*/

// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

$fontSize: 16 !default;
$fontStack: 'Montserrat', Arial, sans-serif !default;
$fontStack-secondary: Arial, sans-serif !default;

$fontWeight-normal: 500;
$fontWeight-light: 400;
$fontWeight-semibold: 700;

$fontSizes: (
    display1: (font-size: pxToRem(72), line-height: (80/72), font-weight: $fontWeight-semibold),
    display2: (font-size: pxToRem(48), line-height: (64/48)),
    heading1: (font-size: pxToRem(32), line-height: (48/32)),
    heading2: (font-size: pxToRem(24), line-height: (32/24), font-weight: $fontWeight-normal),
    heading3: (font-size: pxToRem(20), line-height: (32/20)),
    heading4: (font-size: pxToRem(14), line-height: (24/14)),
    body1: (font-size: pxToRem(16), line-height: (24/16), font-weight: $fontWeight-normal),
    body2: (font-size: pxToRem(18), line-height: (28/18)),
    subheader: (font-size: pxToRem(14), line-height: (24/14)),
    footer: (font-size: pxToRem(12)),
);
