/*
	Variables: Forms
*/
$input-font-size: 14;
$input-height: pxToRem($input-font-size * 2.92);
$input-color: $color-black;
$input-font-weight: normal;
$input-line-height: $input-height;
$input-border: 1px solid rgba(116,116,118,0.2);
$input-border-radius: 2px;
$input-border-focus: 1px solid map-get($colorPalette, primary);
$input-background-color: $color-white;
$input-transition: border-color 0.25s ease-in-out;
$input-padding: pxToRem(13) pxToRem(16);

$form-spacing: gridUnit(2);
