<div class="contact_form">

    [hidden orgid "00D0o0000019sGg"]
    [hidden retURL "https://coact.org.au/thank-you/"]

    [hidden utm_source id:utm_source default:get utm_source ""]
    [hidden utm_medium id:utm_medium default:get utm_medium ""]
    [hidden utm_campaign id:utm_campaign default:get utm_campaign ""]
    [hidden utm_content id:utm_content default:get utm_content ""]

    <div class="form_control-container">
        <div form-select="contact-type"></div>
        [select* contact-type default:get "I'm making a general enquiry" "I'm looking for a job" "I'm an employer" "I'm a service partner" "I'm a referral partner"]
    </div>

    [group group-general]

        <div class="contact_form-columns">
            <div class="form_control-container">
                [text* group-general-firstname placeholder "First Name"]
            </div>
            <div class="form_control-container">
                [text* group-general-lastname placeholder "Last name"]
            </div>
            <div class="form_control-container">
                [email* group-general-email placeholder "Email address"]
            </div>
            <div class="form_control-container">
                [text* group-general-phone placeholder "Phone number"]
            </div>
            <div class="form_control-container">
                [text* group-general-company placeholder "Company or school name"]
            </div>
            <div class="form_control-container">
                [text* group-general-position placeholder "Position"]
            </div>
        </div>

        <div class="form_control-container">
            [textarea* group-general-comments placeholder "Comments"]
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Opt in to receive news and updates from CoAct. <br />View our <a href='/privacy-pdf'>Privacy Policy</a>.</h4>
            <div class="form_control-container">
                <div form-select="group-general-opt-in"></div>
                [select* group-general-opt-in "Yes" "No"]
            </div>
        </div>

    [/group]

    [group group-employer]

        <div class="contact_form-columns">
            <div class="form_control-container">
                [text* group-employer-firstname placeholder "First Name"]
            </div>
            <div class="form_control-container">
                [text* group-employer-lastname placeholder "Last name"]
            </div>
            <div class="form_control-container">
                [email* group-employer-email placeholder "Email address"]
            </div>
            <div class="form_control-container">
                [text* group-employer-phone placeholder "Phone number"]
            </div>
            <div class="form_control-container">
                [text group-employer-company placeholder "Company Name"]
            </div>
            <div class="form_control-container">
                [text* group-employer-position placeholder "Position"]
            </div>
        </div>

        <div class="form_control-container">
            <div form-select="group-employer-contact-nature"></div>
            [select* group-employer-contact-nature
                "Nature of Enquiry"
                "Wage subsidies"
                "Recruitment assistance"
                "AccessAbility Day"
                "Enquiry diversity & inclusion"
                "Partnerships"
                "Other"
            ]
        </div>

        <div class="form_control-container">
            [textarea* group-employer-comments placeholder "Comments"]
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Opt in to receive news and updates from CoAct. <br />View our <a href='/privacy-pdf'>Privacy Policy</a>.</h4>
            <div class="form_control-container">
                <div form-select="group-employer-opt-in"></div>
                [select* group-employer-opt-in "Yes" "No"]
            </div>
        </div>

    [/group]

    [group group-job-search]

        <div class="contact_form-columns">
            <div class="form_control-container">
                [text* group-job-search-firstname placeholder "First Name"]
            </div>
            <div class="form_control-container">
                [text* group-job-search-lastname placeholder "Last name"]
            </div>
        </div>

        <div class="form_control-container">
            [email* group-job-search-email placeholder "Email address"]
        </div>

        <div class="contact_form-columns">
            <div class="form_control-container">
                [text* group-job-search-phone placeholder "Phone number"]
            </div>
            <div class="form_control-container">
                [text* group-job-search-postcode placeholder "Postcode"]
            </div>
        </div>

        <div class="contact_form-date">
            <h4 class="form-header">Date of Birth</h4>
            <div class="form_control-container">
                [text* group-job-search-date-day placeholder "DD"]
            </div>
            <div class="form_control-container">
                [text* group-job-search-date-month placeholder "MM"]
            </div>
            <div class="form_control-container end">
                [text* group-job-search-date-year placeholder "YYYY"]
            </div>
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Are you an Australian citizen or hold a safe haven visa? (Please note those people holding student visas are not
            eligible for our service) *</h4>
            <div class="form_control-container">
                [radio group-job-search-working-visa use_label_element class:radio "Yes" "No" "Unsure"]
            </div>
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Do you have a disability, injury or health condition?</h4>
            <div class="form_control-container">
                [radio group-job-search-health-condition use_label_element class:radio "Yes" "No" "Unsure"]
            </div>
        </div>

        <div class="form_control-container">
            <h4 class="form-header">What is your current employment situation? *</h4>
            <div form-select="group-job-search-employer-situation"></div>
            [select* group-job-search-employer-situation
                "Not working at the moment"
                "Working part time (less than 20 hours a week)"
                "Working full time"
                "Full time student"
                "Part time student working part time"
                "Other"
            ]
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Are you currently receiving Department of Human Service benefits?</h4>
            <div class="form_control-container">
                [radio group-job-search-human-service-benefits use_label_element class:radio "Yes" "No" "Unsure"]
            </div>
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Please tell us your preferred method of communication</h4>
            <div class="form_control-container">
                [radio group-job-search-preferred-communication use_label_element class:radio "A phone call" "Via email" "Via text message"]
            </div>
        </div>

        <div class="form_control-container">
            <h4 class="form-header">Comments</h4>
            [textarea group-job-search-comments placeholder "Comments"]
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Opt in to receive news and updates from CoAct. <br />View our <a href='/privacy-pdf'>Privacy Policy</a>.</h4>
            <div class="form_control-container">
                <div form-select="group-job-search-opt-in"></div>
                [select* group-job-search-opt-in "Yes" "No"]
            </div>
        </div>

    [/group]

    [group group-service-partner]

        <div class="contact_form-columns">
            <div class="form_control-container">
                [text* group-service-partner-firstname placeholder "First Name"]
            </div>
            <div class="form_control-container">
                [text* group-service-partner-lastname placeholder "Last name"]
            </div>
            <div class="form_control-container">
                [email* group-service-partner-email placeholder "Email address"]
            </div>
            <div class="form_control-container">
                [text* group-service-partner-phone placeholder "Phone number"]
            </div>
            <div class="form_control-container">
                [text* group-service-partner-company placeholder "Company or school name"]
            </div>
            <div class="form_control-container">
                [text* group-service-partner-position placeholder "Position"]
            </div>
        </div>

        <div class="form_control-container">
            <div form-select="group-service-partner-contact-nature"></div>
            [select* group-service-partner-contact-nature
                "Nature of Enquiry"
                "More information on joining CoAct"
                "Partnerships"
                "Other"
            ]
        </div>

        <div class="form_control-container">
            [textarea group-service-partner-comments placeholder "Comments"]
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Opt in to receive news and updates from CoAct. <br />View our <a href='/privacy-pdf'>Privacy Policy</a>.</h4>
            <div class="form_control-container">
                <div form-select="group-service-partner-opt-in"></div>
                [select* group-service-partner-opt-in "Yes" "No"]
            </div>
        </div>

    [/group]

    [group group-referral-partner]

        <div class="contact_form-columns">
            <div class="form_control-container">
                [text* group-referral-partner-firstname placeholder "Referrer First Name"]
            </div>
            <div class="form_control-container">
                [text* group-referral-partner-lastname placeholder "Referrer Last name"]
            </div>
            <div class="form_control-container">
                [email* group-referral-partner-email placeholder "Referrer Email address"]
            </div>
            <div class="form_control-container">
                [text* group-referral-partner-phone placeholder "Referrer Phone number"]
            </div>
        </div>

        <div class="form_control-container">
            <div form-select="group-referral-partner-relationship-to-seeker"></div>
            [select* group-referral-partner-relationship-to-seeker
                "Your relationship to the jobseeker"
                "Allied health professional"
                "Carer"
                "GP"
                "Mental health professional"
                "NGO provider"
                "Parent or Guardian"
                "Support coordinator"
                "Other"
            ]
        </div>

        <div class="contact_form-columns">
            <div class="form_control-container">
                [text* group-referral-partner-company-school placeholder "Company or school name"]
            </div>
            <div class="form_control-container">
                [text* group-referral-partner-position placeholder "Position"]
            </div>
        </div>

        <div class="contact_form-block">
            <h4 class="form-header">Job seeker referral information</h4>
            <div class="contact_form-columns">
                <div class="form_control-container">
                    [text* group-referral-partner-patient-firstname placeholder "Job seeker First Name"]
                </div>
                <div class="form_control-container">
                    [text* group-referral-partner-patient-lastname placeholder "Job seeker Last name"]
                </div>
                <div class="form_control-container">
                    [email* group-referral-partner-patient-email placeholder "Job seeker Email address"]
                </div>
                <div class="form_control-container">
                    [text* group-referral-partner-patient-phone placeholder "Job seeker Phone number"]
                </div>
                <div class="form_control-container">
                    [text* group-referral-partner-postcode placeholder "Job seeker Postcode"]
                </div>
            </div>

            <div class="contact_form-date">
                <div class="form_control-container">
                    [text* group-referral-partner-date-day placeholder "DD"]
                </div>
                <div class="form_control-container">
                    [text* group-referral-partner-date-month placeholder "MM"]
                </div>
                <div class="form_control-container end">
                    [text* group-referral-partner-date-year placeholder "YYYY"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Is the job seeker an Australian citizen or hold a safe haven visa? (Please note those people holding student visas are not eligible for our service) *</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-visa"></div>
                    [select* group-referral-partner-visa "Yes" "No" "Unsure"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Does the job seeker have a disability, injury or health condition?</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-disability"></div>
                    [select* group-referral-partner-disability "Yes" "No" "Unsure"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">What is the job seekers current employment situation? *</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-employer-situation"></div>
                    [select* group-referral-partner-employer-situation
                        "Not working at the moment"
                        "Working part time (less than 20 hours a week)"
                        "Working full time"
                        "Full time student"
                        "Part time student working part time"
                        "Other"
                    ]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Is the job seeker currently receiving Department of Human Service benefits?</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-receiving-dohs-benefits"></div>
                    [select* group-referral-partner-receiving-dohs-benefits "Yes" "No" "Unsure"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Medical and current situation</h4>
                <div class="form_control-container">
                    [textarea group-referral-partner-medical-situation placeholder "Please out line the job seekers medical and current situation"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Does the job seeker have an ITO? (Involuntaty Treatment Order?)</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-client-ito"></div>
                    [select* group-referral-partner-client-ito "Yes" "No"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Does the client have a forensic order in place?</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-client-forensic-order"></div>
                    [select* group-referral-partner-client-forensic-order "Yes" "No"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Does the job seeker have a formal guardian?</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-client-formal-guardian"></div>
                    [select* group-referral-partner-client-formal-guardian "Yes" "No"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Has the job seeker provided consent for this refferal?</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-client-refferal"></div>
                    [select* group-referral-partner-client-refferal "Yes" "No"]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Please select all the relevant reasons why your patient is needing support in their current employment or search for employment</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-client-relevant-reasons"></div>
                    [select* group-referral-partner-client-relevant-reasons
                        "Aquired brain injury"
                        "Alcohol"
                        "Centrelink"
                        "Cognitive Assistance"
                        "Employment at Risk"
                        "Intellectual Disability"
                        "Mental Health"
                        "Physical Disability"
                        "Psychological Disability"
                        "Other"
                    ]
                </div>
            </div>

            <div class="contact_form-block">
                <h4 class="form-header">Opt in to receive news and updates from CoAct. <br />View our <a href='/privacy-pdf'>Privacy Policy</a>.</h4>
                <div class="form_control-container">
                    <div form-select="group-referral-partner-opt-in"></div>
                    [select* group-referral-partner-opt-in "Yes" "No"]
                </div>
            </div>

        </div>

    [/group]

    <div style="text-align:center">
        [submit class:button class:button--primary "Submit"]
    </div>

</div>
