
<div class="contact_form">
	<div class="contact_form-columns">
		<div class="contact_form-subscribe">
			<div class="form_control-container">
				[text* your-name placeholder "Firstname"]
			</div>
			<div class="form_control-container">
				[text* your-name placeholder "Lastname"]
			</div>
			<div class="form_control-container">
				[email* your-email placeholder "Email Address"]
			</div>
			<div class="form_control-container">
				[submit class:button button--primary "Subscribe"]
			</div>
		</div>
	</div>
</div>
