@mixin borderCutOff($position: 'left') {
	width: 2.5rem;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
	background-color: $color-yellow;

	@if $position == 'middle' {
		left: 50%;
		transform: translate(-50%, 0)
	}

	@if $position == 'left' {
		left: 0%;
	}
}
