@mixin cutOutContainer {
	background-color: $color-white;
    max-width: 55rem;
	margin-top: -3rem;

	@include bp-tablet {
		width: calc(100% - 32px);
		margin-top: gridUnit(-3);
	}
}

@mixin cutOutContainer-inner {
	margin-left: gridUnit(5.5);
    margin-right: gridUnit(5.5);
}
