.Dropdown {
	&-control {
		padding: pxToRem(12);
		padding-right: pxToRem(24);
		position: relative;
	}

	&-placeholder {
		font-size: pxToRem(12);
	}

	&-arrow {
		top: 50%;
		position: absolute;
		right: pxToRem(12);
		width: pxToRem(20);
		height: pxToRem(25);
		transform: translate(0, -50%) rotate(0deg);
		border: 0px;
		background-image: url('#{$asset-url}/assets/icons/common-expand.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
}

.Dropdown-menu {
	top: calc(100% - 44px);
	border: 0.5px solid #DBDCDD;;
	box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.15);
}

.Dropdown-option {
	color: map-get($colorPalette, dark-grey);
	padding: gridUnit(.5) gridUnit(2);
	font-weight: $fontWeight-light;

	&:hover {
		background-color: map-get($colorPalette, primary);
		color: $color-white;
	}
}

.Dropdown-root {
	&.is-open {
		.Dropdown-arrow {
			transform: translate(0, -50%) rotate(180deg);
		}
	}
}
