.page-numbers {
	@include globalFontSize(subheader);
	text-decoration: none;
	background-color: $color-pale-grey;
	border-radius: 2px;
	padding: 4px 10px;
	display: inline-block;
	font-weight: $fontWeight-normal;
	margin: 0 gridUnit(0.5);

	&:hover {
		background-color: map-get($colorPalette, primary );
		color: $color-pale-grey
	}

	&.current {
		background-color: map-get($colorPalette, primary );
		color: $color-pale-grey
	}
}

@mixin paginationTile {
	@include globalFontSize(subheader);
	text-decoration: none;
	background-color: $color-pale-grey;
	border-radius: 2px;
	padding: 4px 10px;
	display: inline-block;
	font-weight: $fontWeight-normal;
	margin: 0 gridUnit(0.5);
}
