/**
*
* Atom for the injected SVG
*
* Usage example:
* <span svg-icon="PATH_TO_SVG"></span>
*
*/
.svg_icon {
	display: inline-block;
	width: pxToRem(20);
	height: pxToRem(20);
	position: relative;

	svg {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		fill: currentColor;
	}
}

.svg_inherit {
	fill: inherit;
}
