.tags {
	display: flex;
    flex-wrap: wrap;
}
.tag_element {
	color: map-get($colorPalette, secondary);
	font-weight: $fontWeight-normal;
	border: 1px solid rgba(map-get($colorPalette, secondary), .3);
	border-radius: $border-radius;
	padding: pxToRem(5) pxToRem(10);
	margin-right: gridUnit(0.6);
	margin-bottom: gridUnit(0.6);
	@include customFontSize(11, 12);
}

@include bp-tablet {
	.tag_element {
		@include customFontSize(11);
		margin-right: gridUnit(0.2);
		margin-bottom: gridUnit(0.2);
		padding: gridUnit(0.3) gridUnit(0.2);
		line-height: 1;
	}
}

@mixin tagList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

@mixin tag {
	color: map-get($colorPalette, secondary);
	font-weight: $fontWeight-normal;
	border: 1px solid rgba(map-get($colorPalette, secondary), .3);
	border-radius: $border-radius;
	padding: pxToRem(5) pxToRem(10);
	margin-right: gridUnit(0.6);
	margin-bottom: gridUnit(0.6);
	@include customFontSize(11, 12);
	text-transform: capitalize;

	a {
		color: inherit;
		text-decoration: none;
	}

	@include bp-tablet {
		@include customFontSize(11);
		margin-right: gridUnit(0.2);
		margin-bottom: gridUnit(0.2);
		padding: gridUnit(0.3) gridUnit(0.2);
		line-height: 1;
	}
}
