$toggleHeight: 17px;

.switch {
	border: 1px solid $color-purple;
	background: $color-medium-grey;
    width: 40px;
    height: $toggleHeight;
    border-radius: 13px;
    cursor: pointer;
    display: inline-block;
}
.switch-toggle {
    border: 1px solid $color-purple;
    box-shadow: 1px 1px 1px #ccc;
    width: 20px;
    height: 20px;
	left: -4px;
	top: -2px;
    border-radius: 12px;
    background: #fff;
    position: relative;
    transition: left .2s ease-in-out;
}
.switch.on {
    background: $color-purple;
}
.switch.on .switch-toggle {
    left: 23px;
}
.switch.disabled {
    cursor: not-allowed;
}
