@import "../../../assets/css/app_settings";

.service_locator-details {
	// block padding
	.details_block {
		padding: gridUnit(2) gridUnit(2.5);
	}

	.list_block {
		font-weight: $fontWeight-normal;

		> div {
			display: flex;
			align-items: center;
			margin-bottom: gridUnit(1);
		}

		.svg_icon {
			min-width: gridUnit(1.5);
			height: gridUnit(1.5);
		}
	}
}
.service_locator-details_panel {
	position: absolute;
	top: 0;
	width: $service-locator-sidepane-width;
	height: 100%;
	z-index: $z_index--modal + 10;
	background: #fff;
	opacity: 0;
	overflow: hidden;
	transform: translate3d(-100%, 0, 0);
	transition: all $animation-duration $animation-timing;

	.open & {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.service_locator-details_overlay {
	@include positionAbsolute();
	background: rgba(#000, 0.5);
	visibility: hidden;
	z-index: $z_index--modal;
	opacity: 0;
	transition: opacity $animation-duration $animation-timing;
	will-change: opacity;

	.open & {
		opacity: 1;
		visibility: visible;
	}
}

.service_locator-details_header {
	background: map-get($colorPalette, grey);
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
	padding: gridUnit(1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include globalFontSize('subheader');
	font-weight: $fontWeight-semibold;

	.svg_icon {
		width: pxToRem(14);
		height: pxToRem(14);
	}

	.back-button {
		.svg_icon {
			position: relative;
			top: 2px;
			left: 0;
			margin-right: 5px;
			will-change: left;
			transition: left $animation-duration $animation-timing;
			pointer-events: none;
		}
		&:hover {
			.svg_icon {
				left: -(gridUnit(0.2));
			}
		}
	}

	.close-button {
		.svg_icon {
			width: gridUnit(1);
			height: gridUnit(1);
		}
	}
}
.service_locator-details_title {
	border-bottom: $stroke-light-grey;

	h3 {
		color: map-get($colorPalette, secondary);
		font-weight: $fontWeight-semibold;
		margin-bottom: gridUnit(0.5);
	}
}
.service_locator-details_body {
	@include globalFontSize('heading4');
	position: absolute;
	width: 100%;
	top: 51px;
	bottom: 72px;
	overflow: auto;
}
.service_locator-details_contact {
	margin-bottom: gridUnit(2);

	.svg_icon svg {
		@include setSvgColor($color-purple)
	}
}

.service_locator-proofPoint {
	display: flex;

	.svg_icon {
		margin-right: gridUnit(1);
	}
}

.service_locator-details_proofpoints {
	border-top: $stroke-light-grey;
}
.service_locator-details_footer {
	@include positionAbsolute(auto, 0, 0, 0);
	background: map-get($colorPalette, grey);
	padding: gridUnit(1);
	display: flex;
	justify-content: space-between;

	.button:first-child {
		margin-right: gridUnit(0.5);
		flex: 1;
	}
}

@include bp-tablet {
	.service_locator-details_panel {
		position: fixed;
		width: 100%;
	}
	.service_locator-details_overlay {
		display: none;
	}
	.service_locator-details_body {
		top: 69px;
		bottom: 120px;
	}
	.service_locator-details_footer {
		display: block;

		.button {
			width: 100%;
		}

		.button:first-child {
			margin-right: 0;
			margin-bottom: gridUnit(0.5);
			flex: auto;
		}
	}
}
