.error_section {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: gridUnit(41);
	position: relative;
	overflow: hidden;
}

.error_section-container {
	text-align: center;
	position: relative;
	z-index: 10;
}

.error_section-title {
	font-size: gridUnit(12);
	line-height: gridUnit(12);
	font-weight: $fontWeight-semibold;
	display: block;
	margin-bottom: gridUnit(1);

	.purple {color: $color-purple;}
	.green {color: $color-turquoise;}
	.orange {color: $color-orange;}

	@include bp-tablet {
		font-size: gridUnit(9);
		line-height: gridUnit(9);
	}
}

.error_section-content {
	@include globalFontSize('heading3');
	display: block;
	margin-bottom: gridUnit(1);
}

.error_section-shape_left {
	position: absolute;
	bottom: 0;
	left: 29px;
	transform: rotate(180deg) scale(1.4);

	@include bp-tablet {
		transform: rotate(180deg) scale(1);
		left: 0px;
		bottom: -50px;
	}

	.svg_icon {
		width: pxToRem(143);
		height: pxToRem(240);
	}
}

.error_section-shape_right {
	position: absolute;
	top: 64px;
    right: -78px;
	transform: scaleY(-1);

	@include bp-tablet {
		top: -91px;
		right: -139px;
	}

	.svg_icon {
		width: pxToRem(357);
		height: pxToRem(272);
	}
}
