.archive_content {
	display: block;
	padding: gridUnit(2) 0 gridUnit(2) 0;
	margin-top: gridUnit(3);
}

.archive_content-post_count {
	@include globalFontSize(subheader);
	display: block;
	padding-bottom: gridUnit(1.5);

	@include bp-tablet {
		padding: 0 gridUnit(1) gridUnit(1.5) gridUnit(1);
	}

	@include bp-mobile {
		font-size: gridUnit(1);
	}
}

.archive_content-tiles_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 80px;

	@include bp-tablet {
		padding: 0 gridUnit(1);
		grid-template-columns: repeat(2, 1fr);
	}

	@include bp-mobile {
		grid-template-columns: repeat(1, 1fr);
		padding: 0;
	}

	.tile_post {
		margin-bottom: gridUnit(.5);

		@include bp-mobile {
			width: 100%;
		}
	}

	.tile_post-post_title {

	}

	.tile_post-post_link {
		display: none;
	}
}

.archive_content-pagination_wrapper {
	margin: gridUnit(3) 0;
	display: flex;
	justify-content: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.archive_content-tiles_wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;

		.tile_post {
			width: calc(33% - 24px);
			margin-bottom: gridUnit(5.5);
		}
	}
}
