.article_tags {
	display: block;
	padding: gridUnit(6) 0;
	border-top: 1px solid hsla(210,3%,86%,.5);
}

.article_tags-container {
	max-width: gridUnit(55);
}

.article_tags-tag_list {
	@include tagList;
	margin-left: gridUnit(5.5);
	margin-right: gridUnit(5.5);

	@include bp-mobile {
		margin-left: gridUnit(1);
		margin-right: gridUnit(1);
	}
}

.article_tags-tag {
	@include tag;
}
