.article_hero {
	display: block;
}

.article_hero-image {
	@include backgroundCover;
	min-height: pxToRem(320);
	width: 100%;

	@include bp-mobile {
		min-height: pxToRem(320);
	}
}

.article_hero-container {
	max-width: pxToRem(880);
	margin-top: gridUnit(-3);
	background-color: $color-white;

	@include bp-tablet {
		width: calc(100% - 32px);
		margin-top: gridUnit(-3);
	}


}

.article_hero-article_info {
	margin-left: gridUnit(5.5);
	margin-right: gridUnit(5.5);
	position: relative;

	@include bp-tablet {
		margin-left: gridUnit(4.5);
		margin-right: gridUnit(4.5);
	}

	@include bp-mobile {
		margin: 0;
	}

	h1 {
		color: $color-turquoise;
		font-weight: $fontWeight-semibold;
		padding-top: gridUnit(1.5);

		@include bp-mobile {
			margin: 0 gridUnit(1);
			text-align: center;
		}
	}

	h3 {
		position: relative;
		font-weight: $fontWeight-normal;
		margin-bottom: gridUnit(5);
		padding-bottom: gridUnit(2.5);
		border: 0px;

		@include bp-mobile {
			text-align: center;
		}

		&:before {
			width: pxToRem(40);
			height: 2px;
			position: absolute;
			left: 0px;
			bottom: 0px;
			content: '';
			background-color: $color-yellow;

			@include bp-mobile {
				left: 50%;
				transform: translate(-50%, 0);
				margin-top: gridUnit(1);
			}
		}
	}
}

.article_hero-category {
	@include featuredTilesSupTitle;
	position: absolute;
	top: -12px;
	left: 0px;

	@include bp-mobile {
		left: 50%;
		transform: translate(-50%, 0);
	}
}
