.lockedin_header {
	position: fixed;
	top: 0px; // Remnove me
	left: 0;
	opacity: 0;
	height: pxToRem(94);
	width: 100%;
	background-color: $color-white;
	z-index: 100;
	transform: translate(0, pxToRem(-94));
	transition: all 200ms ease;
	border-bottom: 1px solid $color-pale-grey;

	@include bp-tablet {
		height: pxToRem(80);
	}

	@include bp-mobile {
		height: gridUnit(5.3);
	}

	&.active {
		opacity: 1;
		transform: translate(0, pxToRem(0));
		transition: all 200ms ease;
	}
}

.lockedin_header.partner-detail {
	.header-phone_button {
		@include setSvgColor($color-purple);

		svg {
			margin-right: 10px;
			margin-top: -4px;
		}
	}

	@include bp-tablet {
		display: none;
	}
}

.lockedin_header-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	padding-left: gridUnit(1);
	padding-right: gridUnit(1);
}

.lockedin_header-left_aligned {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
}

.lockedin_header-right_aligned {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.lockedin_header-logo {
	padding-right: pxToRem(40);
	position: relative;

	svg {
		max-width: pxToRem(200);
		width: pxToRem(90);
	}

	@include bp-tablet {
		display: none;
	}

	&:after {
		content: '';
		height: pxToRem(40);
		width: 2px;
		background-color: rgba(116,116,118,0.5);
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
}

.lockedin_header-copied_state {
	position: absolute;
	top: 160%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: $color-purple;
	color: $color-white;
	padding: gridUnit(0.25) gridUnit(1);

	&:before {
		content: '';
		width: 10px;
		height: 10px;
		background-color: $color-purple;
		position: absolute;
		top: -5px;
		left: 50%;
		transform: translate(-50%, 0) rotate(45deg);
	}
}

.lockedin_header-partner_logo {
	padding-left: gridUnit(2);
	max-width: pxToRem(250);
	min-width: pxToRem(250);
	display: flex;
	align-items: center;
	justify-content: flex-start;

	img {
		max-height: pxToRem(70);
		width: auto;
	}
}

.lockedin_header-back_button {
	display: none;
	position: relative;
	padding-right: gridUnit(2);
	padding-left: gridUnit(1);
	@include setSvgColor($color-purple);

	&:after {
		content: '';
		height: pxToRem(96);
		width: 2px;
		background-color: rgba(116,116,118,0.2);
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
	}

	@include bp-tablet {
		display: flex;
	}
}

.lockedin_header-back {
	@include globalFontSize(subheader);
	display: flex;
	color: $color-purple;
	padding-left: pxToRem(39);
	opacity: 1;
	transition: all 200ms ease;

	&:hover {
		color: #d46bbe;
		transition: all 200ms ease;

		.lockedin_header-arrow {
			color: #d46bbe;
			transition: all 200ms ease;
		}
	}

	@include bp-tablet {
		display: none;
	}

	.lockedin_header-arrow {
		transform: rotate(90deg);
		color: $color-purple;
		margin-right: gridUnit(1);
		margin-top: -2px;
	}
}

.lockedin_header-article_title {
    margin: 0 auto;

	@include bp-tablet {
		display: none;
	}

	h3 {
		@include globalFontSize(subheader);
		font-weight: $fontWeight-normal;
		color: $color-turquoise;
	}
}

.lockedin_header-share_container {
	position: relative;
}

.lockedin_header-get_in_touch_button {
	&.hide-when-active {
		@include bp-mobile {
			display: none;
		}
	}
}

.lockedin_header-share_button {
	@include setSvgColor($color-purple);
	color: $color-purple;
	background: none;
    border: none;
    padding: 0;
    cursor: pointer;
	outline: inherit;
	position: relative;
	display: flex;
	flex-direction: row;
	padding-right: pxToRem(28);

	&.active {
		@include setSvgColor($color-medium-grey);

		span {
			opacity: 0;
		}
	}

	span {
		padding-right: pxToRem(11);
		@include globalFontSize(subheader);
	}
}

.lockedin_header-share {
	position: absolute;
	top: 0px;
	width: 140px;
	right: pxToRem(65);
	z-index: -1;
	opacity: 0;
	display: flex;
	justify-content: space-between;

}

.lockedin_header-share.active {
	display: flex;
	justify-content: space-between;
	opacity: 1;
	z-index: 2;
}

.lockedin_header-share-item {
	opacity: 0;
	transform: translate(50px, 0);
	display: block;
	color: $color-purple;
	fill: $color-purple;
	position: relative;

	&:hover {
		fill: $color-turquoise;
	}

	.current_url {
		display: none;
	}

	a {
		color: $color-purple;
	}

	&.icon-active {
		opacity: 1;
		transform: translate(0px, 0);
		transition: all 200ms ease;
		color: $color-purple;

		&:nth-child(1) {
			transition-delay: 0.4s
		}

		&:nth-child(2) {
			transition-delay: 0.3s
		}

		&:nth-child(3) {
			transition-delay: 0.2s
		}

		&:nth-child(4) {
			transition-delay: 0.1s
		}

		&:nth-child(5) {
			transition-delay: 0s
		}
	}
}

.lockedin_header-clipboard {
	background: none;
    border: none;
    padding: 0;
    cursor: pointer;
	outline: inherit;
}

.lockedin_header-page_progress {
	position: absolute;
	top: pxToRem(63);
	left: 0;
	top: 100%;
	background-color: transparent;
	width: 100%;
	height: pxToRem(8);

	.page_progress {
		width: 100%;
	}

	.page_progress-bar {
		height: pxToRem(8);
		background-color: $color-yellow
	}
}
