.breakout_article {
	display: block;
	background-color: map-get($colorPalette, grey);
	padding: gridUnit(5) 0 gridUnit(2.5);

	.tile_post-post_title {
		padding-top: gridUnit(1);
		font-size: gridUnit(1.5);
	}

	.tile_post-image {
		min-height: pxToRem(520);

		@include bp-mobile {
			min-height: pxToRem(220);
		}
	}

	.tile_post-post_excerpt {
		display: none;

		@include bp-mobile {
			display: block;
		}
	}

	.tile_post-post_link {
		display: none;

		@include bp-mobile {
			display: inline-block;
		}
	}
}
