.category_hero {
	display: block;
}

.category_hero-image {
	@include heroImage;
}

.category_hero-container {
	@include cutOutContainer;
}

.category_hero-category_info {
	@include cutOutContainer-inner;
	text-align: center;

	@include bp-mobile {
		margin-left: gridUnit(1);
		margin-right: gridUnit(1);
	}

	h1 {
		color: map-get($colorPalette, secondary );
		font-weight: $fontWeight-semibold;
		padding: gridUnit(2) 0;
		position: relative;

		&:before {
			@include borderCutOff('middle');
		}
	}
}


//High contrast
.high_contrast {
	.category_hero-category_info h1 {
		color: $color-dark-grey;
	}
}
