.checkmark_section {
	padding: gridUnit(4) 0;

	&-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		@include bp-mobile {
			width: 100%;
			justify-content: flex-start;
		}
	}

	&-single_checkmark {
		@include globalFontSize('subheader');
		width: 25%;
		text-align: center;
		padding: 0 gridUnit(2);
		font-weight: $fontWeight-normal;

		@include bp-tablet {
			width: 100%;
			margin-bottom: gridUnit(3);
		}

		@include bp-mobile {
			width: 100%;
		}
	}

	&-icon {
		margin: 0 auto 20px auto;
		display: block;
		width: pxToRem(30);
		text-align: center;

		.svg_icon {
			min-width: pxToRem(32);
			height: pxToRem(23);
		}
	}
}
