.contact_tiles {
	display: block;
	padding: gridUnit(3) 0;
	padding-bottom: gridUnit(7.5);

	@include bp-mobile {
		padding: gridUnit(2) 0;
	}
}

.contact_tiles-container {
	max-width: gridUnit(55);

	@include bp-mobile {
		padding: 0 gridUnit(1);
	}
}

.contact_tiles-tiles_container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.contact_tiles-tile {
	text-align: center;
	font-weight: $fontWeight-normal;
	padding: gridUnit(1) gridUnit(2);
	width: 40%;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);

	@include bp-mobile {
		width: 100%;
		margin-bottom: gridUnit(2);
	}

	&.phone {

	}

	&.email,
	&.anchor {
		.contact_tiles-icon {
			padding-top: pxToRem(15);
			padding-right: pxToRem(10);
		}
	}
}

.contact_tiles-tile_title {
	font-weight: $fontWeight-normal;

	@include bp-mobile {
		@include globalFontSize(body2);
	}
}

.contact_tiles-tile_label {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-purple;
	@include globalFontSize(subheader);
}

.contact_tiles-icon {
	padding-top: pxToRem(10);
	padding-right: pxToRem(10);
}
