.cta_section {
	display: flex;
	min-height: pxToRem(362);
	height: pxToRem(362);
	background-color: map-get($colorPalette, 'primary');
	color: $color-white;

	@include bp-mobile {
		display: block;
		width: 100%;
		height: auto;
	}

	.cta_section-image_container,
	.cta_section-content_container {
		width: 50%;
		height: 100%;
		position: relative;

		@include bp-mobile {
			display: block;
			width: 100%;
			min-height: pxToRem(284);
		}
	}

	.cta_section-image {
		@include positionAbsolute(0,0,0,0);
		@include backgroundCover();
	}

	.cta_section-content_container {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include bp-mobile {
			padding: gridUnit(4.5) 0;
		}
	}

	.cta_section-content_inner {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cta_section-content {
		text-align: center;
		max-width: gridUnit(24);

		@include bp-mobile {
			padding: 0 gridUnit(1);
		}
	}

	.cta_section-illustration {
		display: block;
		margin-bottom: gridUnit(1);
	}

	.cta_section-heading {
		@include globalFontSize(heading2)
	}

	.cta_section-description {
		display: block;
		margin-top: gridUnit(.5);
	}

	.cta_section-button {
		text-align: center;
		padding-left: gridUnit(3);
		padding-right: gridUnit(3);
		margin-top: gridUnit(1);
		@include buttonPrimaryDark;
	}

	.svg_icon {
		width: pxToRem(59);
		height: pxToRem(50);
	}
}

//Accesibilty
.high_contrast {
	.cta_section {
		background-color: $color-pale-grey;
		color: $color-dark-grey;
	}
}
