.employers_logos {
	display: block;
	padding: pxToRem(80) 0;

	&-container {
		width: $layout-width-narrow;
		margin: 0 auto;

		@include bp-tablet {
			width: 100%;
		}
	}

	&-header {
		display: block;
		text-align: center;
		color: map-get($colorPalette, secondary);
		font-weight: $fontWeight-normal;
		margin-bottom: gridUnit(2.5);

		h3 {
			font-weight: inherit;
		}
	}

	&-logo_container {
		display: flex;
		justify-content: center;
		align-items: center;

		@include bp-tablet {
			padding: 0 gridUnit(1);
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}

	&-logo_single {
		width: 25%;
		padding: 0 pxToRem(40);

		@include bp-tablet {
			width: 50%;
			padding: 0 gridUnit(4);
			align-self: center;
		}

		@include bp-mobile {
			display: flex;
			align-items: center;
			align-self: center;
			width: 100%;
			padding: 0 gridUnit(4);
			min-height: pxToRem(130);
			margin-bottom: gridUnit(1);
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}
