.enquiry_form {
	margin-top: gridUnit(5.5);
	margin-bottom: gridUnit(5.5);

	&:before {
		content:"";
		display:block;
		height: pxToRem(190);
		margin: pxToRem(-190) 0 0;
	}
}
.enquiry_form--contact-page {}
.enquiry_form-container {
	width: pxToRem(400);
	margin: 0 auto;
}
.enquiry_form-header {
	color: map-get($colorPalette, secondary);
	font-weight: $fontWeight-normal;
	text-align: center;
	margin-bottom: gridUnit(2.5);
}

.enquiry_form-container {
	.wpcf7-response-output.wpcf7-mail-sent-ok {
		display: none !important;
	}
}

@include bp-mobile {
	.enquiry_form-container {
		width: 100%;
		padding-left: gridUnit(1);
		padding-right: gridUnit(1);
	}
}
