$transition: all .3s;
$gutter: 80px;

.featured_content {
	$cmp: &;

	padding: gridUnit(4) 0;

	&-container {
		@include defaultContainer;

		@include bp-default-layout-width {
			padding: 0 gridUnit(1);
		}

		@include bp-mobile {
			padding: 0;
		}
	}

	&-pre_container {
		display: flex;
		justify-content: flex-start;
		padding-bottom: pxToRem(22);

		@include bp-mobile {
			padding-left: gridUnit(1);
			padding-right: gridUnit(1);
		}
	}

	&-link {
		@include hideMobileShowDesktop;
		width: 50%;
		text-align: right;

		&.show_mobile {
			@include hideDesktopShowMobile;

			@include bp-mobile {
				width: 100%;
				text-align: center;

				a {font-size: pxToRem(16);}
			}
		}

		a {
			@include globalFontSize(subheader);
			font-weight: $fontWeight-normal;
			text-decoration: none;
		}
	}

	&-title {
		display: block;
		text-align: left;
		width: 50%;

		h4 {
			font-weight: $fontWeight-normal;
		}

		@include bp-mobile {
			width: 100%;
			text-align: center;
		}
	}

	&-featured_content_tiles {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: $gutter;

		@include bp-tablet {
			grid-gap: calc(#{$gutter} - 20px);
		}

		@include bp-mobile {
			display: block;
			width: 100%;
		}

		.tile_post {
			width: 100%;

			@include bp-mobile{
				margin-bottom: gridUnit(3.5);
			}

			.tile_post-post_title {
				@include bp-mobile{
					width: 100%;
				}
			}

			.tile_post-post_link {
				display: none;
			}

			@include bp-mobile {
				width: 100%;
			}
		}
	}

	&-tile {
		@include featuredTilesItem;
		margin: 0 40px;
		transition: $transition;

		&:hover {
			#{$cmp}-tile_title {
				color: $color-purple;
				transition: $transition;
			}

			#{$cmp}-image {
				transform: scale(1.1);
				transition: $transition;
			}
		}
	}

	&-image_wrapper {
		overflow: hidden;
	}

	&-image {
		@include featuredTilesBackgroundImage {
			min-height: pxToRem(330);
		};
		transform: scale(1);
		transition: $transition;
	}

	&-content {
		@include featuredTilesContent;
		position: relative;
		z-index: 1;
	}

	&-suptitle {
		@include featuredTilesSupTitle;
	}

	&-tile_title {
		@include featuredTilesTitle;
	}
}

.single-service-partner {
	.featured_content {
		background-color: $color-pale-grey;
	}

	.featured_content.tiles_one,
	.featured_content.tiles_two {
		background-color: $color-white;
	}
}

.single-service-partner {
	.featured_content.tiles_one {
		border-bottom: 2px solid $color-pale-grey;

		@include bp-mobile {
			border-bottom: 0px solid $color-pale-grey;
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.featured_content-featured_content_tiles {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;

		.tile_post {
			width: calc(33% - 24px);
			margin-bottom: gridUnit(5.5);
		}
	}
}


.page-template-default {
	.featured_content {
		padding: gridUnit(2) 0;
	}
}
