.featured_articles {
	padding-top: gridUnit(6);

	@include bp-mobile {
		padding-top: gridUnit(3.5);
	}
}

.featured_articles {
	display: flex;
	flex-direction: row;

	@include bp-tablet {
		display: block;
		width: 100%;
	}
}


.featured_articles-content_container {
	width: 59%;
	min-height: pxToRem(530);
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;

	@include bp-tablet {
		display: block;
		width: 100%;
		max-width: none;
		padding-left: gridUnit(1);
		padding-right: gridUnit(1);
	}

	@include bp-mobile {
		padding-left: gridUnit(0);
		padding-right: gridUnit(0);
	}
}

.featured_articles-inner_content_container {
	width: 100%;
	max-width: gridUnit(51.35);

	@include bp-super-large {
		max-width: gridUnit(45);
	}

	@include bp-xlarge {
		max-width: gridUnit(45);
	}

	@include bp-large {
		padding-left: gridUnit(0);
	}

	@include bp-tablet {
		max-width: none;
	}

}

.featured_articles-content {

}

.featured_articles-select_container {
	width: pxToRem(320);
	margin-bottom: pxToRem(22);

	@include bp-mobile {
		margin: 0 auto;
		margin-bottom: 1.375rem;
	}
}

.featured_articles-content_articles {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;

	@include bp-mobile {
		border-bottom: 1px solid $color-pale-grey;
	}

	.tile_post {
		width: calc(50% - 24px);
		margin-bottom: gridUnit(5.5);

		@include bp-mobile {
			width: 100%;
			margin-bottom: gridUnit(4);
		}
	}

	.tile_post-post_title {
		@include ellipseText;
	}

	.tile_post-post_link {
		display: none;
	}
}

.featured_articles-sidebar_container {
	width: 41%;
	min-height: pxToRem(530);
	align-items: flex-start;
	justify-content: flex-start;

	@include bp-tablet {
		display: block;
		width: 100%;
		max-width: none;
	}
}

.featured_articles-sidebar_title {
	@include globalFontSize('subheader');
	font-weight: $fontWeight-normal;
	margin-bottom: pxToRem(34);
	margin-top: pxToRem(8);

	@include bp-mobile {
		text-align: center;
		padding-top: gridUnit(3);
	}
}

.featured_articles-sidebar {
	padding-left: pxToRem(64);
	width: 100%;
	max-width: gridUnit(23);
	box-sizing: border-box;

	@include bp-super-large {
		max-width: gridUnit(27);
	}

	@include bp-xlarge {
		max-width: gridUnit(29.5);
	}

	@include bp-large {
		padding-right: gridUnit(1)
	}

	@include bp-tablet {
		max-width: none;
		padding-left: gridUnit(1);
		padding-right: gridUnit(1);
	}

	.tile_post {
		width: 100%;
		margin-bottom: 0px;
		display: flex;
		background-color: #F8F8F8;
		margin-bottom: gridUnit(1.5);

		&:hover {
			.tile_post-image  {
				transform: scale(1);
			}

			.tile_post-post_title {
				a {color: map-get($colorPalette, primary);}
			}
		}
	}

	.tile_post-image {
		display: inline-block;
		width: pxToRem(88);
		height: pxToRem(88);
		min-width: pxToRem(88);
		min-height: pxToRem(88);
		min-height: auto;
	}

	.tile_post-cat_name {
		display: none;
	}

	.tile_post-post_title {
		@include globalFontSize('subheader');
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 0 0 0;

		@include bp-mobile {
			padding-right: gridUnit(1);
		}
	}

	.tile_post-content {
		display: flex;
		align-items: center;
		margin-top: gridUnit(0);
		padding-left: gridUnit(1);

		@include bp-mobile {
			padding-right: gridUnit(1);
		}
	}

	.tile_post-post_excerpt {
		display: none;
	}

	.tile_post-post_link {
		display: none;
	}
}
