$transition: .3s all;

.main_footer {
	display: block;
	padding: gridUnit(2.5) 0 0 0;
	background-color: $color-pale-grey;

	&-container {
		width: $layout-width-narrow;
		margin: 0 auto;

		@include bp-tablet {
			width: 100%;
		}
	}

	&-social_container {
		display: flex;
		justify-content: center;
	}

	&-social_icon {
		display: block;
		color: $color-purple;
		margin: 0 gridUnit(1.25);
		transition: $transition;
		width: pxToRem(22);
		height: pxToRem(22);

		&:hover {
			color: $color-turquoise;
			transition: $transition;
		}

		.svg_icon {
			svg {
				width: pxToRem(20);
				height: pxToRem(20);
			}
		}
	}

	&-footer_menu {
		padding: gridUnit(2.5) 0;

		@include bp-mobile {
			padding: 0 0 gridUnit(1) 0;
		}

		ul {
			@include globalFontSize(subheader);
			display: flex;
			justify-content: center;
			color: $color-dark-grey;
			list-style: none;
			padding: 0;
			margin: 0px;

			@include bp-mobile {
				display: block;
				padding-left: 0;
			}

			> li {
				padding: 0 gridUnit(1);
				color: inherit;

				@include bp-mobile {
					display: block;
					text-align: center;
					padding: gridUnit(1) 0 0 0;
				}

				a  {
					color: inherit;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	&-post_footer {
		@include globalFontSize(footer);
		border-top: 1px solid lighten( $color-dark-grey, 60% );
		display: flex;
		font-weight: $fontWeight-light;
		justify-content: center;
		padding: gridUnit(1);
	}
}
