$gutter: 120px;

.general_tiles {
	display: block;
	padding: gridUnit(3) 0;

	@include bp-large-tablet {
		padding: gridUnit(3) gridUnit(1);
	}

	@include bp-mobile {
		padding: gridUnit(3) gridUnit(0);
	}
}

.general_tiles-general_tiles_tiles {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: $gutter;

	@include bp-tablet {
		grid-gap: 80px;
	}

	@include bp-mobile {
		display: block;
	}

	.tile_post {
		@include bp-mobile {
			margin-bottom: gridUnit(3.5);
		}

		.text_link {
			border-bottom: 0px;
			font-weight: 500;
		}
	}

	.tile_post-post_title {
		font-size: pxToRem(24);
	}

	.tile_post-image {
		min-height: pxToRem(306);
	}
}

// Page specific styles
.page-template-template-homepage {
	.general_tiles {
		padding-bottom: gridUnit(8);

		@include bp-mobile {
			padding-bottom: 0;
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.general_tiles-general_tiles_tiles {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;

		.tile_post {
			width: calc(50% - 40px);
			margin-bottom: gridUnit(5.5);
		}
	}
}
