$header-spacing: gridUnit(1.3);
$header-stroke: $stroke-light-grey;

.header {
	display: block;
	position: fixed;

	z-index: $z_index--header;
	top: 0;

	height: pxToRem($header-height-mega);
	width: 100%;

	border-bottom: $header-stroke;

	// accomodate for wordpress adminbar
	.logged-in.admin-bar & {
		top: 32px;
	}
}

.header-primary {
	display: flex;
	min-height: pxToRem(97);
	background: $color-white;
	position: relative;
	border-bottom: 1px solid hsla(210,3%,86%,.5);

	@include bp-large-tablet {
		min-height: pxToRem(84);
	}
}

.header-main {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: static;
	width: 100%;
}
.header-logo {
	width: pxToRem(117);

	.svg_icon {
		display: flex;
		height: 100%;
		width: pxToRem(117);
		height: pxToRem(72);

		svg {
			position: relative;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
				padding: pxToRem(20) 0 0;
			}
		}
	}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
	.header-logo {
		.svg_icon {
			svg {
				padding: pxToRem(20) 0 0;
			}
		}
	}
}

	@include bp-large-tablet {
		flex-grow: 1;

		.svg_icon {
			width: pxToRem(80);
			height: pxToRem(52);
		}
	}

	@include bp-mobile {
		padding-left: gridUnit(1);

		.svg_icon {
			width: pxToRem(65);
			height: pxToRem(44);
		}
	}
}

.header-menu {
	display: flex;
	flex-grow: 1;
	padding-left: gridUnit(2);

	@include bp-large-tablet {
		display: none;
	}

	.menu {
		margin: 0;
		padding: 0;
		list-style: none;

	}
	.menu-item {
		display: inline-block;
		margin-right: $header-spacing;

		&.current_page_item {
			a {
				color: map-get($colorPalette, primary);
			}

			.menu-item a {
				color: map-get($colorPalette, dark-grey);
			}
		}

		&.menu-item-has-children {
			padding-right: 20px;
			background-image: url('#{$asset-url}/assets/icons/common-dropdown.svg');
			background-repeat: no-repeat;
			background-position: center right;

			&:hover,
			&:focus,
			&:active {
				background-image: url('#{$asset-url}/assets/icons/common-dropdown-purple.svg');
			}
		}
	}

	.menu-item {
		a {
			color: map-get($colorPalette, dark-grey);
			@include customFontSize(16, 20);
			text-transform: none;
			text-decoration: none;
			padding: 39px 0;

			&:hover,
			&:focus,
			&:active {
				color: map-get($colorPalette, primary);
			}
		}
	}

	.current_page_ancestor.menu-item-has-children {
		background-image: url('#{$asset-url}/assets/icons/common-dropdown-purple.svg');

		a {
			color: map-get($colorPalette, primary);
		}

		.sub-menu li {
			a {
				color: map-get($colorPalette, dark-grey);
			}

			&:hover {
				a {
					color: map-get($colorPalette, primary);
				}
			}
		}
	}

	.sub-menu_full {
		position: absolute;
		background-color:$color-white;
		display: none;
		width: 100%;
		top: pxToRem(97);
		left: 0px;
		box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.15);
	}

	li.menu-item-has-children {
		&:hover {
			> .sub-menu_full {
				display: block;
			}
		}
	}

	.sub-menu_container {
		width: gridUnit(30);
		min-height: 300px;
		background-color: transparent;

		li {
			width: 50%;
			margin: 0px 0px;
		}
	}

	.sub-menu_list_wrapper {
		width: pxToRem(675);
		margin-left: 9.5rem;
		height: 100%;
	}

	.sub-menu {
		padding: gridUnit(2.5) 0 gridUnit(1.5) 0;
		display: flex;
		flex-wrap: wrap;

		li {
			width: 50%;
			margin: 0px;
			margin-bottom: gridUnit(1);

			&:hover {
				a {
					color: map-get($colorPalette, primary)
				}
			}
		}

		a {
			@include globalFontSize(subheader);
			padding: 0;
		}
	}
}

.header-accessibility_wrapper {
	&.focus-within {
		.header-accessibility-panel {
			display: block;
		}
	}
}

.header-accessibility-panel {
	display: none;
}

.header-menu_button {
	display: none;
	order: -1;
	padding: gridUnit(1.75);
	border-right: $header-stroke;

	@include bp-large-tablet {
		display: flex;
	}
}

.header-phone_button {
	margin-right: gridUnit(0.5);

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	.svg_icon {
		display: block;
		margin-right: gridUnit(0.5);
		width: 25px;
		height: 24px;
	}

	@include bp-tablet {
		padding-right: gridUnit(1);
	}

	@include bp-mobile {
		padding-right: gridUnit(0.25);
	}
}

.header-get_in_touch_button {
	margin-left: gridUnit(1.8);
	.button {
		padding-left: gridUnit(2);
		padding-right: gridUnit(2);
		white-space: nowrap;
	}
}

.header-search_trigger {
	padding-left: gridUnit(1);
	padding-right: gridUnit(1);

	@include bp-tablet {
		display: none;
	}

	.search_box {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}

	.search_box-container {
		height: 100%;
		display: flex;
		align-items: flex-end;
	}

	.search_box-inner_container {
		background-color: $color-white;
		width: calc(100% - 150px);
		height: 99%;
		margin-left: 220px;
		display: flex;
		align-items: center;

		@include bp-tablet {
			width: calc(100% - 310px);
		}
	}

	form {
		display: flex;
		flex: 1 0 auto;
		align-item: center;
	}

	.search_box-search_query {
		flex: 1 0 auto;
		display: flex;
		align-items: center;

		input {
			flex: 1 0 auto;
			padding: 0 0 0 gridUnit(1);
			border: none;
			outline: 0;

			@include placeholder {
				font-weight: $fontWeight-light;
			}
		}
	}
}

.overlay { display: none; }

.toggle-overlay {
	.overlay {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 10;
	}
}


// Style in for mobile menu in own sepearate element scss file
.header_primary-mobile_menu {
	opacity: 0;
	visibility: hidden;
	display: none;

	@include bp-large-tablet {
		body.menu-open & {
			opacity: 1;
			visibility: visible;
			display: block;
			max-height: calc(100vh - 80px);
			overflow: auto;
		}
	}
}

@media screen and (max-width: $layout-width-default) {
	.header-logo {
		padding-left: gridUnit(1.5);
		margin-right: gridUnit(1.5);
	}
	.header-get_in_touch_button {
		margin-left: gridUnit(0.5);
		margin-right: gridUnit(1);
	}
}

@media screen and (max-width: $breakpoint--medium_screen) {
	.header {
		height: pxToRem($header-height-small);
	}

	.header-menu {
		position: absolute;
		display: block;
		padding-left: 0;
		flex-grow: unset;
		width: 100vw;
		top: pxToRem($header-height-small);
		background: #fff;
		z-index: $z_index--mobile-menu;

		opacity: 0;
		visibility: hidden;
		transition: opacity $animation-duration $animation-timing;
		will-change: opacity;

		.menu-item {
			display: block;
			margin-right: 0;

			a {
				display: block;
				@include customFontSize(24, 18);
				padding: gridUnit(1.5) gridUnit(2.5);
			}
		}
	}
	.menu-primary-navigation-container {
		border-bottom: $header-stroke;
	}
}

.single-post,
.single-service-partner {
	.header {
		position: relative;

		@include bp-tablet {
			position: fixed;
		}
	}
}

.single-post.logged-in,
.single-service-partner.logged-in {
	.header {
		top: 0;
	}
}

@media screen and (max-width: $breakpoint--wordpressMobileHeader) {
	// accomodate for wordpress adminbar
	.logged-in.admin-bar .header {
		top: 46px;
	}
}


@media screen and (max-width: $breakpoint--medium_screen) {



}

@media screen and (max-width: $breakpoint--small_screen) {
	// accomodate for wordpress adminbar
	#wpadminbar {
		position: fixed;
	}

	.header-get_in_touch_button {
		.button {
			padding-left: 0px;
			padding-right: 0px;
			min-width: 120px;
		}
	}

	.header-phone_button {
		margin-right: 0;
		.svg_icon {
			margin-right: gridUnit(0.3);
			width: 24px;
			height: 24px;
		}

	}
	.header-phone_number {
		display: none;
	}
}

// IE11  Specific styles
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.header-logo {
		width: pxToRem(100);
		height: pxToRem(96);

		.svg_icon {
			svg {
				position: absolute;
				top: 0px;
				left: 0px;
			}
		}
	}
}
