.hero {
	position: relative;
}
.hero-image {
	width: 100%;
	height: pxToRem(600);
	@include backgroundCover();

	@include bp-mobile {
		background-position: right;
	}
}
.hero-body {
	@include positionAbsolute(0,0,0,0);
	display: flex;
	align-items: center;
	padding-bottom: pxToRem(100);
}
.hero-body_inner {
	width: 100%;
	max-width: $layout-width-default;
	margin: 0 auto;
}
.hero-title {
	color: $color-purple;
	@include globalFontSize('display1');
	margin-bottom: gridUnit(1.25);
}
.hero-subtitle {
	font-weight: $fontWeight-normal;
	margin-bottom: gridUnit(3);
}

.hero-ctas {
	.button {
		&:nth-child(2) {
			@include buttonSecondary;
			margin-left: gridUnit(1);

			@include bp-mobile {
				margin-left: 0;
				margin-top: gridUnit(1);
			}
		}
	}
}

.hero-text {}
.hero-text--orange {
	color: $color-orange
}
.hero-text--green {
	color: $color-turquoise
}

@include bp-default-layout-width {
	.hero-body_inner {
		// display: inline;
		// width: auto;
		// max-width: auto;
		// margin: 0;
		padding-left: gridUnit(1);
	}
	.hero-body {
		padding-bottom: 0;
	}
}

@include bp-tablet {
	.hero-image {
		height: 100vw;
		max-height: pxToRem(370);
	}
	.hero-body {
		position: relative;
		top: -(gridUnit(2.5));
		text-align: center;
	}
	.hero-title {
		padding: gridUnit(1);
		margin-left: gridUnit(1);
		margin-right: gridUnit(1);
		background: $color-white;
		@include customFontSize(33, 40);
		margin-bottom: 0;
	}
	.hero-subtitle {
		@include customFontSize(20, 32);
		max-width: 320px;
		margin: 0 auto gridUnit(2);
	}
	.hero-ctas {
		.button {
			max-width: pxToRem(300);
			width: 100%;
		}
	}
}
