$transitionTiming: all .6s;
$containerHeight: gridUnit(26.5);

@mixin headingPrefix($color) {
	content: "";
	position: absolute;
	width: pxToRem(40);
	left: 0;
	top: 50%;
	height: 2px;
	background-color: $color;
}

.image_and_content {
	position: relative;
	// height: 100%; // Flex fix for ie11
	min-height: $containerHeight;


	@include bp-mobile {
		display: block;
	}

	&.purple_background {
		background-color: $color-purple;
		color: $color-white;

		.image_and_content-heading {
			&:before {
				@include headingPrefix($color-white);
			}
		}

		.text_link {
			@include globalFontSize(subheader);
			text-decoration: none;
			font-weight: $fontWeight-normal;
			border-bottom-width: 1px;
			@include overrideLinkStyle($color-white);
			transition: $transitionTiming;
			opacity: 1;

			&:hover,
			&:focus,
			&:active {
				opacity: .7;
				transition: $transitionTiming;
			}
		}
	}

	&.white_background {
		background-color: $color-white;

		.text_link {
			@include globalFontSize(subheader);
			text-decoration: none;
			font-weight: $fontWeight-normal;
			border-bottom-width: 1px;

			&:hover,
			&:focus,
			&:active {
				color: map-get($buttonPalette, hover);
				border-bottom-color: map-get($buttonPalette, hover);
			}
		}
	}


	&.align_right {
		.image_and_content-hover_target {
			direction: rtl;
		}
	}

}

.image_and_content-hover_target {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@include bp-mobile {
		display: block;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: flex;
	}
}

.image_and_content-image_container,
.image_and_content-content_container {
	position: relative;
	overflow: hidden;
	direction: ltr;
}


.image_and_content-image_container {

	display: flex;
	overflow: hidden;

	&.align_right {
		justify-content: flex-end;
	}
	&.align_left {
		justify-content: flex-start;
	}

	@include bp-mobile {
		position: relative;
		display: block;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		width: 50%;
	}
}


.image_and_content-image {
	@include positionAbsolute(0,0,0,0);
	transition: $transitionTiming;
	overflow: hidden;

	@include bp-mobile {
		position: relative;
		min-height: gridUnit(15);
	}
}

.image_and_content-image_holder {
	@include backgroundCover;
	@include positionAbsolute(0, 0, 0, 0);
}

.image_and_content-content_container {
	min-height: $containerHeight;
	height: 100%;
	display: flex;

	@include bp-mobile {
		min-height: 0;
	}

	&.align_right {
		justify-content: flex-end;
		align-items: center;
    	max-width: pxToRem(595);

		.image_and_content-content {
			padding-right: pxToRem(140);

			@include bp-default-layout-width {
				padding-left: gridUnit(1)
			}

			@include bp-large-tablet {
				padding-left: gridUnit(3);
				padding-right: gridUnit(3);
			}

			@include bp-mobile {
				padding: gridUnit(3) gridUnit(1);
			}
		}
	}

	&.align_left {
		justify-content: flex-start;
    	max-width: pxToRem(595);

		.image_and_content-content {
			padding-left: pxToRem(140);

			@include bp-default-layout-width {
				padding-right: gridUnit(1)
			}

			@include bp-large-tablet {
				padding-left: gridUnit(3);
				padding-right: gridUnit(3);
			}

			@include bp-mobile {
				padding: gridUnit(3) gridUnit(1);
			}
		}
	}
}

.image_and_content-content {
	@include bp-tablet {
		padding-left: gridUnit(3);
		padding-right: gridUnit(3);
	}

	@include bp-mobile {
		padding: gridUnit(3) gridUnit(1);
	}
}

.image_and_content-content_inner_container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: gridUnit(3) 0;

	@include bp-mobile {
		padding: 0;
	}
}

.image_and_content-heading {
	@include globalFontSize(heading2);
	font-weight: $fontWeight-normal;
	padding-left: pxToRem(55);
	position: relative;

	&:before {
		@include headingPrefix($color-dark-grey);
	}
}

.image_and_content-entry {
	padding: gridUnit(1) 0;
	font-weight: 400;
}


a.image_and_content-hover_target {
	color: inherit;
	text-decoration: none;
	pointer-events: none;
	position: relative;
	// @include positionAbsolute(0,0,0,0);

	@include bp-mobile {
		position: relative;
		display: block;
	}

	.text_link {
		pointer-events: auto;
		position: relative;
	}

	.image_and_content-image_container {
		pointer-events: auto;
	}

	.image_and_content-image_holder {
		transform: scale(1);
		transition: $transitionTiming;
	}

	&:hover {
		.image_and_content-image_holder {
			transform: scale(1.1);
			transition: $transitionTiming;
		}
	}
}

//Accessabilty

.high_contrast {
	.image_and_content.purple_background {
		background-color: $color-pale-grey;
		color: $color-dark-grey;
	}

	.image_and_content.purple_background .image_and_content-heading:before {
		background-color: $color-dark-grey;
	}

	.image_and_content.purple_background .text_link {
		color: $color-purple;
		border-bottom-color: $color-purple;
	}
}
