.introduction {
	margin-bottom: gridUnit(3);
}

.introduction-container {
	@include globalFontSize(heading2);
	width: pxToRem(880);
	margin: 0 auto;
	text-align: center;
	padding: gridUnit(2.5);
	position: relative;
	font-weight: $fontWeight-normal;
	margin-top: pxToRem(-90);
	background: white;

	@include bp-tablet {
		margin-top: pxToRem(0);
		padding-top: 0;
	}

	span {
		display: block;
		max-width: pxToRem(550);
		margin: 0 auto;
	}
}

.introduction-heading {
	font-weight: $fontWeight-normal;
	position: relative;
	margin-bottom: gridUnit(2);
	padding-bottom: gridUnit(2);

	&:after {
		@include borderCutOff('middle');
	}
}

.introduction-text {
	@include globalFontSize(body1);
	line-height: pxToRem(24);
}

@include bp-tablet {
	.introduction-container {

		width: 100%;
	}
}
