.introduction_text {
	display: block;
}

.introduction_text-container {
	max-width: pxToRem(880);
	margin-top: gridUnit(-3);
	background-color: $color-white;
	padding-top: gridUnit(1.5);
	padding-bottom: gridUnit(1);
	text-align: center;

	@include bp-tablet {
		width: calc(100% - 32px);
		margin-top: gridUnit(-3);
	}


	h1 {
		color: $color-turquoise;
		font-weight: $fontWeight-semibold;
		margin-bottom: gridUnit(2);
	}

	p {
		font-weight: $fontWeight-light;
		max-width: pxToRem(520);
		padding-bottom: gridUnit(3);
		margin: 0 auto;
	}
}

.introduction_text-text_container {
	margin-left: gridUnit(5.5);
	margin-right: gridUnit(5.5);
	margin-bottom: gridUnit(2.5);
	padding-bottom: gridUnit(0);
	position: relative;

	@include bp-tablet {
		margin-left: gridUnit(4.5);
		margin-right: gridUnit(4.5);
	}

	@include bp-mobile {
		margin: 0;
	}

	&:before {
		@include borderCutOff(middle);
	}
}
