.kitchen_sink {
	@include defaultContainer();

	hr {
		border: 1px solid #eee;
	}
}
.kitchen_sink-inner {
	width: 100%;
	padding-top: gridUnit(2);
	padding-bottom: gridUnit(2);
}
.kitchen_sink-title {
	text-align: center;
}
.kitchen_sink-section_title {
	margin-top: gridUnit(1);
	margin-bottom: gridUnit(2);
}
.kitchen_sink-components {
	div[class^="kitchen_sink_components"] {
		margin-top: gridUnit(2);
		margin-bottom: gridUnit(2);

		> div {
			padding-left: gridUnit(2);
			padding-right: gridUnit(2);
		}
	}
}

// styleguide sections
.kitchen_sink_components-headers {
	.heading {
		margin-bottom: gridUnit(1);

		span {
			display: inline-block;
			width: 60px;
		}
	}
}
.kitchen_sink_components-nav {}
.kitchen_sink_components-table {}
.kitchen_sink_components-definition_list {}
.kitchen_sink_components-unordered_list {}
.kitchen_sink_components-ordered_list {}
.kitchen_sink_components-address {}
.kitchen_sink_components-pre {}
.kitchen_sink_components-figure {}
.kitchen_sink_components-form {}

// hide sections not applicaple to the styleguide
// .kitchen_sink_components-headers,
// .kitchen_sink_components-nav,
.kitchen_sink_components-table,
.kitchen_sink_components-definition_list,
// .kitchen_sink_components-unordered_list,
.kitchen_sink_components-ordered_list,
.kitchen_sink_components-address,
.kitchen_sink_components-pre,
.kitchen_sink_components-figure
// .kitchen_sink_components-form
{
	display: none;
}
