.location_section {
	display: flex;
	position: relative;

	@include bp-mobile {
		flex-direction: column-reverse;
	}

	&.purple {
		@include bp-mobile {
			flex-direction: column-reverse;
		}

		background-color: $color-purple;
		color: $color-white;

		a {
			color: $color-white;
		}
	}

	&.white {
		@include bp-mobile {
			flex-direction: column;
		}
	}
}

.location_section-divider {
	position: relative;
	width: 50%;

	.svg_icon {
		color: $color-purple;
	}

	@include bp-mobile {
		width: 100%;
	}
}

.location_section-divider--content {
	display: flex;
	justify-content: flex-end;

	@include bp-tablet {
		justify-content: flex-start;
	}

	.svg_icon {
		color: $color-white;
	}

	.location_section-inner_content {
		padding-left: gridUnit(2);
		max-width: pxToRem(595);

		@include bp-tablet {
			padding-left: gridUnit(2);
		}
	}
}

.location_section-inner_content {
	padding: pxToRem(100) pxToRem(140);
	width: 100%;

	@include bp-tablet {
		padding: gridUnit(2) gridUnit(2);
	}
}

.location_section-location_heading {
	margin-bottom: gridUnit(2);

	h2 {
		font-weight: $fontWeight-normal;
	}

	h5 {
		margin-bottom: gridUnit(0.4);
	}
}

.location_section-information {
	@include globalFontSize(subheader);
	padding: 0;
	list-style: none;
	font-weight: $fontWeight-normal;
	position: relative;
	padding-left: gridUnit(2);
	margin-bottom: gridUnit(1);


	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		a {
			text-decoration: none;

			@include bp-mobile {
				text-decoration: underline;
			}
		}
	}
}

.location_section-location_address {
	display: block;
	margin-bottom: gridUnit(.5);
}

.location_section-location_details_icon {
	position: absolute;
	left: 0;

	.svg_icon {
		@include sizeSetup(25px);
		@include setSvgColor($color-white);
	}
}

.location_section-location_details_icon--email {
	.svg_icon {
		top: 3px;
	}
}

.location_section-map_container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

@include bp-mobile {
	.location_section {
		min-height: gridUnit(40);
	}

	.location_section-inner_content {
		width: 90%;
	}

	.google_maps {
		min-height: pxToRem(300);
	}
}


//Accessibilty
.high_contrast {
	.location_section {
		&.purple {
			background-color: $color-pale-grey;
			color: $color-dark-grey;

			a {
				color: $color-purple;
			}
		}
	}

}
