.lower_featured_articles {
	display: block;
	padding: gridUnit(6) gridUnit(1) gridUnit(6) gridUnit(1);

	@include bp-mobile {
		padding: gridUnit(6) gridUnit(0) 0 gridUnit(0);
	}

	.lower_featured_articles-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 80px;

		@include bp-tablet {
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: gridUnit(7);
		}

		@include bp-mobile {
			grid-template-columns: repeat(1, 1fr);
		}

		.tile_post {
			margin-bottom: 0;
		}

		.tile_post-post_title {

		}

		.tile_post-post_link {
			display: none;
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.lower_featured_articles .lower_featured_articles-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;

		.tile_post {
			width: calc(33% - 24px);
			margin-bottom: gridUnit(5.5);
		}
	}
}
