.numbers_section {
	display: block;
	padding-top: gridUnit(5);
	padding-bottom: gridUnit(5);

	&-container {
		@include defaultContainer($layout-width-narrow);
		max-width: gridUnit(70);
		justify-content: space-around;
		text-align: center;

		@include bp-mobile {
			flex-direction: column;
		}
	}

	&-statistic {
		width: 28%;

		@include bp-mobile {
			width: 100%;
			padding-bottom: gridUnit(3)
		}

		&:last-child {
			padding-bottom: gridUnit(0)
		}

		&.color_inherit-green { color: $color-turquoise; }
		&.color_inherit-orange { color: $color-orange; }
		&.color_inherit-purple { color: $color-purple; }
	}

	&-icon {
		display: flex;
		justify-content: center;
		min-height: gridUnit(5);

		img {
			height: 100%;
			width: auto;
		}
	}

	&-content {
		padding: gridUnit(1) 0 0 0;
		word-wrap: break-word;

		> span {
			display: block;
		}
	}

	&-stats {
		@include globalFontSize(display2);
		font-weight: $fontWeight-semibold;
	}

	&-label {
		@include globalFontSize(heading3);
		font-weight: $fontWeight-normal;
	}
}

.page-template-template-homepage {
	.numbers_section {
		padding-top: gridUnit(2);
	}
}

//Accessabilty
.high_contrast {
	.numbers_section-statistic {
		&.color_inherit-green { color: $color-dark-grey; }
		&.color_inherit-orange { color: $color-dark-grey; }
		&.color_inherit-purple { color: $color-dark-grey; }
	}
}

// IE11  Specific styles
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.numbers_section-icon img {
		max-height: pxToRem(80);
	}
}
