.partner_detail_hero {
	display: block;

	&-hero_image {
		@include backgroundCover();
		display: block;
		min-height: gridUnit(27.5);

		@include bp-mobile {
			min-height: gridUnit(17);
		}
	}

	&-logo_container {
		display: flex;
		background-color: $color-white;
		width: pxToRem(880);
		margin: -50px auto 0 auto;
		justify-content: center;
		padding-bottom: gridUnit(3.5);

		@include bp-tablet {
			width: 90%;
		}

		@include bp-mobile {
			padding-bottom: gridUnit(1.5);
		}
	}

	&-logo_inner {
		width: 60%;
		padding: gridUnit(1.5) 0;

		@include bp-tablet {
			width: 90%;
			padding: gridUnit(2) gridUnit(5) gridUnit(0);
		}

		@include bp-mobile {
			width: 90%;
			padding: gridUnit(1) gridUnit(1);
		}
	}

	&-logo {
		display: flex;
		justify-content: space-around;
	}

	&-coact_logo {
		display: flex;
		align-items: center;
		border-right: 2px solid $color-dark-grey;
		padding-right: gridUnit(1.5);
		justify-content: center;
		max-width: pxToRem(250);
		min-width: pxToRem(250);

		@include bp-tablet {
			padding-right: gridUnit(3);
		}

		@include bp-mobile {
			padding-right: gridUnit(1);
			min-width: 0;
			width: 50%;
		}
	}

	&-partner_logo {
		max-width: pxToRem(250);
		min-width: pxToRem(250);
		display: flex;
		align-items: center;
    	justify-content: center;
		padding-left: gridUnit(1);

		img {
			max-height: pxToRem(70);
			width: auto;
		}

		@include bp-mobile {
			padding-left: gridUnit(1);
			min-width: 0;
			width: 50%;
		}
	}

	&-partner_details {
		display: block;
		width: pxToRem(786);
		margin: 0 auto;
		text-align: center;
		padding-bottom: gridUnit(3.5);

		@include bp-tablet {
			width: 100%;
		}
	}

	&-partner_name {
		color: map-get($colorPalette, secondary);
		font-weight: $fontWeight-semibold;
		padding: 0 gridUnit(1);
	}

	&-partner_description {
		@include globalFontSize(body1);
		padding: gridUnit(1.2) gridUnit(4) gridUnit(2.75) gridUnit(5);

		@include bp-tablet {
			width: 70%;
			margin: 0px auto;
			padding-left: gridUnit(0);
			padding-right: gridUnit(0);
		}

		@include bp-mobile {
			width: 100%;
			padding-left: gridUnit(1);
			padding-right: gridUnit(1);
		}
	}

	&-button {
		padding-left: gridUnit(3);
		padding-right: gridUnit(3);
	}
}
