.post_content {
	display: block;
	margin-bottom: gridUnit(4);
}

.post_content-container {
	max-width: pxToRem(880);
}

.post_content-title {
	margin-left: gridUnit(5.5);
	margin-right: gridUnit(5.5);

	@include bp-mobile {
		margin-left: gridUnit(1);
		margin-right: gridUnit(1);
	}
}

.page-template-template-landingpage {
	.post_content {
		margin: gridUnit(1) 0 gridUnit(4) 0;
	}
}

.page-template-template-homepage {
	.post_content {
		margin: gridUnit(4) 0;
	}
}
