.related_tiles {
	display: block;
	padding: gridUnit(5) 0;
	background-color: $color-pale-grey;
}

.related_tiles-container {
	@include bp-tablet {
		padding: 0 gridUnit(1);
	}

	@include bp-mobile {
		padding: 0;
	}
}

.related_tiles-title {
	display: block;
	margin-bottom: gridUnit(1.5);
	font-weight: $fontWeight-normal;

	@include bp-mobile {
		text-align: center;
	}
}

.related_tiles-tiles_wrapper {
	display: flex;
	justify-content: space-between;

	@include bp-mobile {
		display: block;
	}

	.tile_post {
		width: calc(50% - 40px);

		@include bp-mobile {
			width: 100%;
			margin-bottom: gridUnit(3.5);
		}

		&:last-child {
			margin-bottom: 0px;
		}
	}

	.tile_post-image {
		min-height: pxToRem(330);

		@include bp-mobile {
			min-height: pxToRem(216);
		}
	}
}
