.search_section {
	display: block;
}


// React component
.search_hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: pxToRem(280);
	background-color: $color-pale-grey;
}

.search_hero-search_box {
	text-align: center;
	width: pxToRem(600);
}

.search_hero-title {
	color: map-get($colorPalette, secondary );
	font-weight: $fontWeight-semibold;
	margin-bottom: gridUnit(2);
}

.search_hero-search_box_title {
	color: map-get($colorPalette, secondary);
	font-weight: $fontWeight-semibold;
}

.search_results {
	padding-top: gridUnit(3);
	padding-bottom: gridUnit(5);

	@include bp-mobile {
		padding-top: gridUnit(2);
	}
}

.search_results-container {
	padding: gridUnit(1);
}

.search_result {
	display: flex;
	border: $color-pale-grey 1px solid;
	margin-bottom: gridUnit(2.5);

	@include bp-mobile {
		display: block;
	}
}

.search_result-image {
	@include backgroundCover;
	min-width: pxToRem(368);
	min-height: pxToRem(216);
}

.search_result-content {
	padding: gridUnit(1.4) gridUnit(2);
}

.search_result-taxonomy {
	@include featuredTilesSupTitle;
}

.search_result-post_tile {
	@include featuredTilesTitle;
	padding-top: 0.8rem;
}

.search_result-post_except {
	@include featuredTilesTextContent;
}

.search_result-link {
	@include globalFontSize(subheader);
	margin-top: gridUnit(1);

	.text_link {
		font-weight: $fontWeight-normal;
		border-bottom-width: 1px;
	}
}

/* Algolia Instant Search overide */
.search_form {
	padding: 0 gridUnit(1);

	input {
		margin-bottom: 0px;
		margin-right: gridUnit(1);
		padding-left: pxToRem(40);
		position: relative;
		background-image: url('#{$asset-url}/assets/icons/common-search.svg');
		background-repeat: no-repeat;
		background-position: 10px center;

		@include bp-mobile {
			margin-bottom: gridUnit(1);
		}
	}

	button[type=submit] {
		@include buttonPrimary;
		width: pxToRem(200);

		@include bp-mobile {
			width: 100%;
		}
	}

	button[type=reset] {
		display: none;
	}
}

.ais-SearchBox-form {
	display: flex;

	@include bp-mobile {
		display: block;
	}
}

.ais-Hits-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.ais-pagination {
	display: flex;
	padding: 0;
	justify-content: center;
}

.ais-Pagination-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
}

.ais-pagination--link {
	@include paginationTile;
	margin: 0 gridUnit(.25);
}

.stats-container {
	.ais-stats {
		position: relative;
		top: 0px;
	}
}


.algolia-hits {
	margin-top: gridUnit(2);
}

.ais-hits--item {
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
	border-bottom: none !important;
}

// IE11  Specific styles
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.search_hero-title {
		padding-top: pxToRem(170);
	}
}
