@import '~select2/dist/css/select2.css';

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    font-size: 12px;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid rgba(116,116,118,0.2);
    border-radius: 2px;
    &:focus {
        outline: 0;
        border: 1px solid #b2519e;
    }
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
    line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 38px;
    padding: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    width: 0;
    border: none;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 20 20'%3E%3Cpath d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z' fill='%23B2519E'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.select2-container .select2-selection--single .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 500;
    padding-right: 0px;
    height: 37px;
    margin-right: 36px;
    color: hsl(0,0%,80%);
    span {
        line-height: 37px;
        vertical-align: top;
    }
    &:hover {
        color: hsl(0,0%,60%);
    }
}
.select2-dropdown {
    font-family: Arial,sans-serif;
    background-color: hsl(0,0%,100%);
    border-radius: 2px;
    border: 1px solid hsla(240,1%,46%,.2);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .15);
    padding: 4px 0;
}
.select2-results__option {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 13px;
    padding: 10px 20px;
    line-height: 18px;
    border-top: none;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #B2519E;
    color: #FFFFFF;
}

.page-template-template-service_finder {
    .pac-icon-marker {
        display: none;
    }
    .pac-logo:after {
        display: none;
    }
    .pac-item-query {
        font-size: 13px;
    }
    .pac-item {
        background-color: #FFFFFF;
        color: #000000;
        font-size: 13px;
        padding: 10px 20px;
        line-height: 18px;
        border-top: none;
        &:hover {
            background-color: #B2519E;
            color: #FFFFFF;
            .pac-item-query {
                color: #fff;
            }
        }
    }
    .pac-container {
        position: absolute!important;
        z-index: 1000;
        font-family: Arial,sans-serif;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        background-color: hsl(0,0%,100%);
        border-radius: 4px;
        margin: 0;
        border-radius: 2px;
        border: 1px solid hsla(240,1%,46%,.2);
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .15);
        padding: 4px 0;
    }
    .focus-within {
        outline: 0;
    }
}

.cluster {
    &:focus {
        outline: 0;
    }
}

.link_overlay-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
button.link_overlay-btn {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.service_locator-view-mode {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid hsla(210,3%,86%,.5);
    > button {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        color: #b2519e;
        border: 1px solid #b2519e;
        padding: 12px 20px;
        background-color: white;
        &.active {
            background-color: #b2519e;
            color: #fff;
        }
        &:first-of-type {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-of-type {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    @media (min-width: 961px) {
        display: none;
    }
}

.service_locator, .service_locator-content_wrapper, .service_locator-wrap {
    height: calc(100vh - 6.125rem);
}
.service_locator-content_wrapper {
    position:relative;
}
.service_locator-progress {
    width: 100%;
    position: absolute;
    height: 100%;
    //background: #b2519e;
    //background: rgba(255, 255, 255, .5);
    //display: none;
    z-index: -1;
    opacity: 0;
    .linear-progress-bar {
        background: lighten(#b2519e, 30%);
        height: 3px;
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        -webkit-animation: start 0.3s ease-in;
                animation: start 0.3s ease-in;
    }
    .linear-progress-bar .bar {
        position: absolute;
        background: #b2519e;
        transition: transform 0.2s linear;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    .linear-progress-bar .bar1 {
        -webkit-animation: progressLinearMovement 2.5s infinite;
                animation: progressLinearMovement 2.5s infinite;
        -webkit-animation-delay: 0;
                animation-delay: 0;
    }
    .linear-progress-bar .bar2 {
        left: -100%;
        -webkit-animation: progressLinearMovement 2.5s infinite;
                animation: progressLinearMovement 2.5s infinite;
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s;
    }
}
@-webkit-keyframes growBar1 {
    0% {
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      transform: scaleX(0.1);
    }
    36.6% {
      -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
              animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
      transform: scaleX(0.1);
    }
    69.15% {
      -webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
              animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
      transform: scaleX(0.83);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
  @keyframes growBar1 {
    0% {
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      transform: scaleX(0.1);
    }
    36.6% {
      -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
              animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
      transform: scaleX(0.1);
    }
    69.15% {
      -webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
              animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
      transform: scaleX(0.83);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
  @-webkit-keyframes moveBar1 {
    0% {
      left: -105.16667%;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
    20% {
      left: -105.16667%;
      -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
              animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    }
    69.15% {
      left: 21.5%;
      -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
              animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    }
    100% {
      left: 95.44444%;
    }
  }
  @keyframes moveBar1 {
    0% {
      left: -105.16667%;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
    20% {
      left: -105.16667%;
      -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
              animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    }
    69.15% {
      left: 21.5%;
      -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
              animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    }
    100% {
      left: 95.44444%;
    }
  }
  @-webkit-keyframes growBar2 {
    0% {
      -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
              animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
      transform: scaleX(0.1);
    }
    19.15% {
      -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
              animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
      transform: scaleX(0.57);
    }
    44.15% {
      -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
              animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
      transform: scaleX(0.91);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
  @keyframes growBar2 {
    0% {
      -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
              animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
      transform: scaleX(0.1);
    }
    19.15% {
      -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
              animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
      transform: scaleX(0.57);
    }
    44.15% {
      -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
              animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
      transform: scaleX(0.91);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
  @-webkit-keyframes moveBar2 {
    0% {
      left: -54.88889%;
      -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
              animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    }
    25% {
      left: -17.25%;
      -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
              animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
    }
    48.35% {
      left: 29.5%;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
              animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    }
    100% {
      left: 117.38889%;
    }
  }
  @keyframes moveBar2 {
    0% {
      left: -54.88889%;
      -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
              animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    }
    25% {
      left: -17.25%;
      -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
              animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
    }
    48.35% {
      left: 29.5%;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
              animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    }
    100% {
      left: 117.38889%;
    }
  }
  @-webkit-keyframes start {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 20px;
      opacity: 1;
    }
  }
  @keyframes start {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 20px;
      opacity: 1;
    }
  }
  @-webkit-keyframes end {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 2px;
      opacity: 1;
    }
  }
  @keyframes end {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 2px;
      opacity: 1;
    }
  }
  @-webkit-keyframes progressLinearMovement {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes progressLinearMovement {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

.service_locator-content {
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    display:flex
}
.service_locator-search {
    position: relative;
    display: block;
}
.service_locator-panel {
    background: #f6f6f6;
    padding: 3rem 2rem;
    position: relative;
    z-index: 10;
}
.service_locator-title {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
.service_locator-postcode {
    position: relative;
    margin-top: 1rem;
    .btn-clear {
        color: hsl(0,0%,80%);
        display: none;
        padding: 8px;
        -webkit-transition: color 150ms;
        transition: color 150ms;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        .clear-icon {
            display: inline-block;
            fill: currentColor;
            line-height: 1;
            stroke: currentColor;
            stroke-width: 0;
        }
        &:hover {
            color: hsl(0,0%,50%);
            cursor: pointer;
        }
    }
    #input_postcode {
        padding: .75rem 1rem;
        &::-webkit-input-placeholder {
            color: hsl(0,0%,50%);
        }
        &::-moz-placeholder {
            color: hsl(0,0%,50%);
        }
        &:-ms-input-placeholder {
            color: hsl(0,0%,50%);
        }
        &:-moz-placeholder {
            color: hsl(0,0%,50%);
        }
    }
}
.service_locator-sidepane {
    position:relative;
    overflow:hidden;
    width:400px;
}
.service_locator-map {
    width:calc(100% - 400px);
    background-color: rgb(229, 227, 223);
}
.service_locator-listing_tab, .service_locator-listing_title {
    padding: .5rem 3rem;
    border-bottom: 1px solid hsla(210,3%,86%,.5);
}
.service_locator-listing_title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.service_locator-listing_tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}
.service_locator-listing_partner_title {
    margin-bottom: .5rem;
}
.service_locator-listing_tab .right-arrow {
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    will-change: right;
    -webkit-transition: right .3s cubic-bezier(.74,.25,.01,1);
    transition: right .3s cubic-bezier(.74,.25,.01,1);
    pointer-events: none;
}
@media only screen and (max-width:60rem){
    .service_locator, .service_locator-content_wrapper, .service_locator-wrap {
        height:calc(100vh - 5rem);
    }
    .service_locator {
        position:relative;
    }
    .service_locator-content {
        flex-wrap: wrap;
    }
    .service_locator-sidepane {
        padding-top:0;
        overflow:initial;
        width:100%;
    }
    .service_locator-map{
        display: none;
        width: 100%!important;
    }
}