.single_tiles {
	display: block;

	@include bp-mobile {
		padding-top: gridUnit(3);
	}
}

.single_tiles-container {
	max-width: pxToRem(880);
}

.single_tiles-tile {
	display: block;
	margin-bottom: gridUnit(7.5);

	@include bp-mobile {
		margin-bottom: gridUnit(3);
	}
}

.single_tiles-image_wrapper {
	@include featuredTilesBackgroundImageWrapper;
}

.single_tiles-image {
	@include featuredTilesBackgroundImage;
	transition: $transitionTiming;
	min-height: pxToRem(440);

	@include bp-tablet {
		min-height: pxToRem(440);
	}

	@include bp-tablet {
		min-height: gridUnit(16.5);
	}
}

.single_tiles-content {
	@include featuredTilesContent;

	@include bp-tablet {
		padding-right: gridUnit(1);
	}
}

.single_tiles-sup_title {
	@include featuredTilesSupTitle;
}

.single_tiles-title {
	@include featuredTilesTitle;
	width: 50%;

	@include bp-mobile {
		width: 100%;
	}
}

.single_tiles-lower_content {
	display: flex;
	justify-content: flex-start;

	@include bp-mobile {
		display: block;
	}
}

.single_tiles-description {
	width: 50%;
	padding-top: .5rem;
	font-weight: $fontWeight-light;

	@include bp-mobile {
		width: 100%;
	}

	span {
		display: block;
		margin-bottom: gridUnit(1);
	}
}

.single_tiles-buttons {
	display: block;

	.text_link {
		@include globalFontSize(subheader);
		font-weight: $fontWeight-normal;
		border-bottom-width: 1px;
		text-decoration: none;
	}
}
