.cta_small_section {
	background-color: $color-purple;
	color: $color-white;
	padding: pxToRem(36) 0;
}

.cta_small_section-container {
	max-width: gridUnit(55);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;

	@include bp-tablet {
		display: block;
		padding: 0 gridUnit(2);
		text-align: center;
	}
}

.cta_small_section-text_wrapper {
	@include globalFontSize(heading2);

	@include bp-tablet {
		@include globalFontSize(heading3);
		margin-bottom: gridUnit(1.5);
	}
}

.cta_small_section-button_wrapper {
	.cta_section-button {
		@include buttonPrimaryDark;
		display: block;
	}
}

.high_contrast {
	.cta_small_section {
		background-color: $color-pale-grey;
		color: $color-dark-grey;
	}
}
