.specialise_links {
	display: block;
	background-color: $color-pale-grey;
	padding: gridUnit(5) gridUnit(1);

	@include bp-tablet {
		padding: gridUnit(3) gridUnit(1);
	}
}

.specialise_links-container {
	max-width: gridUnit(42);
}

.specialise_links-header {
	text-align: center;
	margin-bottom: gridUnit(2);
	font-weight: $fontWeight-normal;
	color: map-get($colorPalette, secondary );
}

.specialise_links-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.small_tile_cta {
		width: 40%;
		max-width: 296px;

		@include bp-tablet {
			width: 100%;
			max-width: 100%;
		}
	}
}
