.staff_list {
	background-color: $color-pale-grey;
	padding: gridUnit(4) 0;

	&-container {
		@include defaultContainer;

		@include bp-default-layout-width {
			padding: 0 gridUnit(1);
		}

		@include bp-mobile {
			padding: 0 gridUnit(3);
		}
	}

	&-title {
		display: block;
		text-align: left;
		font-weight: $fontWeight-normal;
		padding-bottom: gridUnit(2);

		@include bp-mobile {
			text-align: center;
		}
	}

	&-profiles {
		@include featuredTilesContainer;
		justify-content: center;
	}

	&-staff_profile {
		@include featuredTilesItem;
		width: 21%;
		margin: 0 2%;

		@include bp-tablet {
			width: 46%;
			margin: 0 2%;
			margin-bottom: gridUnit(2);
		}

		@include bp-mobile {
			width: 100%;
			margin: 0 auto gridUnit(2) auto !important;
		}
	}

	&-headshot {
		@include featuredTilesBackgroundImage;
	}

	&-content {
		@include featuredTilesContent;
		margin-left: pxToRem(25);
		padding-left: 0;
		position: relative;
		padding-top: gridUnit(.5);
		margin-top: 0;

		@include bp-mobile {
			padding-left: 0;
		}
	}

	&-name {
		@include featuredTilesSupTitle;
		position: absolute;
		bottom: 70%;
		left: 0;
	}

	&-position {
		@include featuredTilesTitle;
	}
}
