.subscribe_section {
	background-color: $color-white;
	border-top: 1px solid $color-pale-grey;
	padding: gridUnit(6.75) 0;
	position: relative;
	overflow: hidden;

	.contact_form {
		margin-bottom: 0px;
	}

	&-container {
		@include defaultContainer;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		position: relative;
		z-index: 5;
		max-width: pxToRem(810);

		@include bp-default-layout-width {
			padding-left: gridUnit(1);
			padding-right: gridUnit(1);
		}
	}

	&-title {
		@include globalFontSize(heading2);
		font-weight: $fontWeight-normal;
		margin-bottom: gridUnit(1);
	}

	&-detail {
		display: block;
		font-weight: $fontWeight-light;

		@include bp-tablet {
			width: 60%;
			margin: 0 auto gridUnit(2) auto;
		}

		@include bp-mobile {
			width: 90%;
		}
	}

	&-form {
		margin-top: gridUnit(2);

		@include bp-tablet {
			width: 60%;
			margin: 0 auto;
		}

		@include bp-mobile {
			width: 90%;
			margin: 0 auto;
		}
	}

	&:before {
		position: absolute;
		top: pxToRem(-50);
    	left: pxToRem(-74);
		content: '';
		background-image: url('#{$asset-url}/assets/icons/misc-shape-one.svg');
		background-repeat: no-repeat;
    	transform: rotate(180deg);
    	width: pxToRem(356);
    	height: pxToRem(271);
    	z-index: 5;

    	@include bp-mobile {
			top: auto;
			bottom: pxToRem(-95);
			transform: rotate(165deg);
			background-size: 85%;
    		background-position: center center;
    	}
	}

	&:after {
		position: absolute;
		content: '';
		background-image: url('#{$asset-url}/assets/icons/misc-shape-three.svg');
		background-repeat: no-repeat;
    	width: pxToRem(142);
    	height: pxToRem(240);
    	position: absolute;
    	top: 50%;
    	right: 0;
    	transform: translate(0, -50%);
    	z-index: 5;

    	@include bp-mobile {
			top: pxToRem(-30);
    	}
	}
}

// Modifier for the page thank you template
.single-post,
.page-template-default,
.page-template-template-homepage {
	.subscribe_section {
		background-color: $color-pale-grey;
	}
}

.page-template-template-thankyou, {
	.subscribe_section {
		border-top: 1px solid hsla(210,3%,86%,.5);
	}
}
