.thank_you {
	text-align: center;
	padding: pxToRem(104) 0;

	.container {
		display: block;
	}

	h2 {
		font-weight: $fontWeight-normal
	}

	p {
		margin: gridUnit(1) 0 gridUnit(2) 0;
	}

	.button {
		width: auto;
	}
}
