.top_featured_article {
	height: gridUnit(32.5);
	min-height: gridUnit(32.5);
	background-color: map-get($colorPalette, primary);
	color: $color-white;
	display: flex;
	flex-direction: row;

	@include bp-mobile {
		display: block;
		height: auto;
	}
}

.top_featured_article-image_container {
	width: 59%;
	min-height: pxToRem(520);
	position: relative;

	@include bp-tablet {
		width: 50%;
	}

	@include bp-mobile {
		width: 100%;
		min-height: pxToRem(260);
	}
}

.top_featured_article-image {
	@include positionAbsolute(0,0,0,0);
	@include backgroundCover;
}

.top_featured_article-content_container {
	width: 41%;
	min-height: pxToRem(520);
	display: flex;
	align-items: center;

	@include bp-tablet {
		width: 50%;
		padding-right: gridUnit(1);
	}

	@include bp-mobile {
		width: 100%;
		min-height: 0px;
		padding: gridUnit(2) gridUnit(1);
	}
}

.top_featured_article-content {
	padding-left: pxToRem(64);
	width: 100%;
	max-width: gridUnit(31);
	box-sizing: border-box;

	@include bp-super-large {
		max-width: pxToRem(432);
	}

	@include bp-mobile {
		padding-left: 0px;
	}
}

.top_featured_article-category_name {
	@include featuredTilesSupTitle;
	margin-bottom: gridUnit(.5);
}

.top_featured_article-title {
	font-weight: $fontWeight-semibold;

	@include bp-mobile {
		font-size: pxToRem(24);
	}
}

.top_featured_article-excerpt {
	display: block;
	margin: gridUnit(1) 0 0 0;
}

.top_featured_article-post_link {
	a {
		@include globalFontSize('subheader');
		color: $color-white;
		text-decoration: none;
		display: inline-block;
		width: auto;
		margin-top: gridUnit(2.5);
		border-bottom: 1px solid $color-white;
		transition: all .3s cubic-bezier(.74,.25,.01,1);
		opacity: 1;
	}

	&:hover {
		opacity: 0.7;
		transition: all .3s cubic-bezier(.74,.25,.01,1);
	}
}

//Hig Contrast
.high_contrast {
	.top_featured_article {
		background-color: $color-pale-grey;
		color: $color-dark-grey;
	}

	.top_featured_article-category_name {
		background-color: $color-dark-grey;
		color: $color-pale-grey;
	}

	.top_featured_article-post_link {
		color: $color-purple;
		border-bottom-color: $color-purple
	}
}
