@import "../../../assets/css/app_settings";

.service_locator-listing {
	height: calc(100% - 235px);
	overflow: auto;
}
.service_locator-listing_title,
.service_locator-listing_tab {
	padding: gridUnit(0.5) gridUnit(3);
	border-bottom: $stroke-light-grey;
}
.service_locator-listing_title {
	padding-top: gridUnit(1);
	padding-bottom: gridUnit(1);
}
.service_locator-listing_wrap {
	overflow: auto;
	max-height: 100;
}
.service_locator-listing_tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}
.service_locator-listing_tab {
	.right-arrow {
		position: absolute;
		right: 1rem;
		top: 50%;
		width: 2rem;
		height: 2rem;
		margin-top: -1rem;
		will-change: right;
		transition: right $animation-duration $animation-timing;
		pointer-events: none;

		svg {
			fill: map-get($colorPalette, primary);
		}
	}
}
.service_locator-listing_tab_link {
	&:hover {
		~ .right-arrow {
			right: gridUnit(0.75);
			svg {
				fill: map-get($colorPalette, secondary);
			}
		}
	}
}
.service_locator-listing_partner_title {
	margin-bottom: gridUnit(0.5);
}

@include bp-tablet {
	.service_locator-listing {
		overflow: initial;
		height: auto;
	}
	.service_locator-listing_title {
		padding: gridUnit(1);
	}
	.service_locator-listing_tab {
		padding: gridUnit(1);
		padding-right: gridUnit(2.5);
	}
}
