/*******************
File holding the fontface declarations for Webfonts loader
********************/

@font-face {
	font-family: 'FuturaCom';
	src: local('Futura Com Bold'),
	     url('FuturaCom-Bold.woff') format('woff'),
	     url('FuturaCom-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaCom';
	src: local('Futura Com Book'),
	     url('FuturaCom-Book.woff') format('woff'),
	     url('FuturaCom-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaCom';
	src: local('Futura Com Medium'),
	     url('FuturaCom-Medium.woff') format('woff'),
	     url('FuturaCom-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
