@import "../../../assets/css/app_settings";

$header-stroke: 1px solid rgba(#DBDCDD, 0.5);

.menu_button-handle,
.menu_hamburger,
.menu_close {
	width: 27px;
	height: 25px;
}
.menu_hamburger,
.menu_close {
	position: absolute;
	transition: opacity $animation-duration $animation-timing;
	will-change: opacity;
}
.menu_hamburger {
	// shape-rendering: crispedges;
	body.menu-open & {
		opacity: 0;
	}
}
.menu_close {
	opacity: 0;
	body.menu-open & {
		opacity: 1;
	}
}
