@import "../../../assets/css/app_settings";

body.partner-open {
	overflow: hidden;
}

.service_locator-wrap,
.service_locator,
.service_locator-content_wrapper {
	height: calc(100vh - #{pxToRem(98)});
}

.service_locator-content_wrapper {
	position: relative;
}

.service_locator-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
.service_locator-sidepane {
	position: relative;
	overflow: hidden;
	width: $service-locator-sidepane-width;
}

.service_locator-map {
	width: calc(100% - #{$service-locator-sidepane-width});
}

@include bp-tablet {
	.service_locator-wrap,
	.service_locator,
	.service_locator-content_wrapper {
		height: calc(100vh - #{pxToRem(80)});
	}

	.service_locator {
		position: relative;
	}
	.service_locator-sidepane {
		padding-top: 0;
		overflow: initial;
		width: 100%;
	}
	.service_locator-map {
		display: none;
	}
}
