@import "../../../assets/css/app_settings";

.service_locator-search {
	position: relative;
	display: block;
}
.service_locator-panel {
	background: map-get($colorPalette, grey);
	padding: gridUnit(3) gridUnit(2);
	position: relative;
	z-index: 10;

	input {
		margin-bottom: 0;
	}
}
.service_locator-title {
	@include customFontSize(16, 24);
	margin-bottom: gridUnit(1.5);
}
.service_locator-type {
	width: 100%;
	margin-bottom: gridUnit(1.5);
}
.service_locator-postcode {
	margin-top: gridUnit(1);
}

@include bp-tablet {
	.service_locator-panel {
		padding: gridUnit(2) gridUnit(1);
	}
	.service_locator-search {
		position: relative;
	}
}
