@import "../../../assets/css/app_settings";

//Overide of slickslider theme.css
.slick-disabled {
	opacity: .25;
}

.slick-next {
	right: gridUnit(2);

	&:before {
		display: none;
	}
}

.slick-prev {
	left: gridUnit(2);
	z-index: 1;

	&:before {
		display: none;
	}
}

.slick-dots {
	bottom: -55px;

	li {
		margin: 0 5px;
		width: pxToRem(8);
		height: pxToRem(8);

		&.slick-active {
			button {
				background-color: transparent;

				&:before,
				&:after  {
					display: none;
				}
			}
		}
	}

	li button {
		width: pxToRem(8);
		height: pxToRem(8);
		border-radius: 10px;
		padding: 0px;
		background-color: $color-purple;
		border: 1px solid $color-purple;

		&:before {
			display: none;
		}
	}
}


@include bp-mobile {
	.slick-next {
		right: gridUnit(1);
	}

	.slick-prev {
		left: gridUnit(1);
	}
}
