@import "../../../assets/css/app_settings";

.testimonial_slider-testimonail_container {
	outline: none;
}

.testimonial_slider-inner_container {
	position: relative;
	width: pxToRem(880);
	margin: 0 auto;
	text-align: center;

	.svg_icon {
		position: absolute;
		top: 30%;
		width: pxToRem(35);
		transform: translateY(-50%);
		width: pxToRem(35);
		height: pxToRem(29);
		opacity: 0.25;
	}

	.open_quotation {
		left: pxToRem(-50);
	}

	.close_quotation {
		right: pxToRem(-50);
	}
}

.testimonial_slider-testimonial_content {
	color: $color-purple;
	@include globalFontSize(heading2);
	font-weight: $fontWeight-normal;
}

.testimonial_slider-testimonial_source {
	@include globalFontSize(subheader);
	margin-top: gridUnit(1);
	font-weight: $fontWeight-normal;
}

@include bp-tablet {
	.testimonial_slider-inner_container {
		width: 70%;
		padding-top: gridUnit(3);

		.svg_icon {
			position: absolute;
			top: 0%;
			left: 50%;
			transform: translate(-50%, 0);
			width: pxToRem(35);
			width: pxToRem(35);
			opacity: 0.25;
		}

		.close_quotation {
			display: none;
		}
	}
}
