.accesssibilty_module {
	position: absolute;
	top: 100%;
	right: 0px;
	z-index: 1;
	visibility: visible;
	background-color: $color-white;
	border-radius: 0 0 2px 2px;
	box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.15);
}

.accesssibilty_module-container {
	text-align: center;
	@include globalFontSize(subheader);
}

.accesssibilty_module-title {
	margin-bottom: gridUnit(1);
	display: block;
}

.accesssibilty_module-contrast,
.accesssibilty_module-text_size {
	display: block;
	padding: gridUnit(1) gridUnit(2) gridUnit(.5) gridUnit(2);
}

.accesssibilty_module-contrast {
	border-bottom: 1px solid $color-pale-grey;
}

.accesssibilty_module-toggle {
	display: block;
}

// .access-open .accesssibilty_module {
// 	visibility: visible;
// }
