html {
	color: $color-dark-grey;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $color-white;
	@include globalFontSize(body1)
}

html,
body {
	height: 100%;
}

::selection {
	background-color: map-get($colorPalette, secondary);
	color: $color-white;
}

// Prevent default browser font sizes
* {
	font-size: inherit;
	line-height: inherit;
}

main {
    padding-top: pxToRem($header-height-mega);
}

.single-service-partner main {
	padding-top: 0px;
}

.logged-in main {

}

.single-post {
	main {
		padding-top: 0;
	}
}

.page-template-template-service_locator {
	main {
		height: 100%;
	}
}

@media screen and (max-width: $breakpoint--medium_screen) {
	main {
		padding-top: pxToRem($header-height-small);
		margin-bottom: 0;
	}
}

// IE11  Specific styles
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	body {
		overflow-x: hidden;
	}
}

