.body_content {
	margin-left: gridUnit(5.5);
	margin-right: gridUnit(5.5);
	font-weight: $fontWeight-light;

	@include bp-mobile {
		margin-left: gridUnit(1);
		margin-right: gridUnit(1);
	}

	p {
		margin: gridUnit(1) 0;
		font-weight: $fontWeight-light;
		line-height: pxToRem(28);
	}

	img {
		max-width: 74.375rem;
		width: calc(100% + 11rem);
		margin-left: gridUnit(-5.5);
		margin-right: gridUnit(-5.5);
		margin-top: gridUnit(5.5);
		margin-bottom: gridUnit(5.5);

		@include bp-mobile {
			width: calc(100% + 2rem);
			margin-left: gridUnit(-1);
			margin-right: gridUnit(-1);
			margin-top: gridUnit(2);
			margin-bottom: gridUnit(2);
		}
	}

	h3 {
		font-weight: $fontWeight-normal;
	}

	h3 {
		font-weight: $fontWeight-semibold;
		color: $color-orange;
	}

	ul {
		padding: 0px;
		margin-top: gridUnit(1);

		li {
			padding: gridUnit(.65) 0 gridUnit(.65) gridUnit(1.5);
			list-style-type: none;
			position: relative;

			&:first-of-type {
				padding-top: pxToRem(13);
			}

			@include bp-mobile {
				padding-left: gridUnit(1.25);
			}

			&:before {
				position: absolute;
				left: 0px;
				top: pxToRem(22);
				transform: translate(0,-50%);
				content: '';
				width: pxToRem(6);
				height: pxToRem(6);
				border-radius: 10px;
				background-color: $color-turquoise;
			}

			ul {
				padding: gridUnit(.325);
				padding-bottom: 0;
				margin-top: gridUnit(0);

				li {
					&:before {
						border: 1px solid $color-turquoise;
						background-color: transparent;
					}

					ul {
						margin-top: gridUnit(0);

						li {
							&:before {
								border-radius: 0px;
								border: 1px solid $color-turquoise;
								background-color: $color-turquoise;
							}

							ul {
								margin-top: gridUnit(0);

								li {
									&:before {
										height: pxToRem(2);
										border-radius: 0px;
										border: 1px solid $color-turquoise;
										background-color: $color-turquoise;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	hr {
		position: relative;
		margin-top: pxToRem(33);
		margin-bottom: pxToRem(80);
		border: 0px;

		&:before {
			width: pxToRem(40);
			height: 2px;
			position: absolute;
			left: 0px;
			top: 0px;
			content: '';
			background-color: $color-yellow;
		}
	}

	blockquote {
		@include globalFontSize(heading2);
		color: map-get($colorPalette, primary);
		font-weight: $fontWeight-normal;
		padding: gridUnit(2) gridUnit(5) gridUnit(2) 0;
		background-image: url('#{$asset-url}/assets/icons/common-turquoise-quotes.svg');
		background-repeat: no-repeat;
		background-position: calc(100% - 30px) 53px;

		@include bp-mobile {
			font-size: pxToRem(20);
			padding: gridUnit(2) gridUnit(1);
			background-position: calc(100% - 19px) calc(100% - 18px);
		}

		p {
			font-weight: $fontWeight-normal;

			@include bp-mobile {
				font-size: pxToRem(20)
			}
		}
	}
}
