/*
	Buttons
*/
.button {
	color: $color-white;
	text-align: center;
	font-family: inherit;
	padding: pxToRem(11) pxToRem(25);
	border: 2px solid transparent;
	border-radius: $border-radius;
	background-color: map-get($buttonPalette, default);
	@include customFontSize(14, 14);
	text-decoration: none;

	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin: 0;

	transition: all $animation-duration $animation-timing;
	transition-property: background-color, color;
	will-change: background-color, color;
	appearance: none;
	outline: 0;

	&:focus,
	&:hover,
	&:active {
		color: $color-white;
		background-color: map-get($buttonPalette, hover);
	}
}

@mixin buttonPrimary {
	color: $color-white;
	text-align: center;
	font-family: inherit;
	padding: pxToRem(11) pxToRem(25);
	border: 2px solid transparent;
	border-radius: $border-radius;
	background-color: map-get($buttonPalette, default);
	@include customFontSize(14, 14);
	text-decoration: none;

	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin: 0;

	transition: all $animation-duration $animation-timing;
	transition-property: background-color, color;
	will-change: background-color, color;
	appearance: none;
	outline: 0;

	&:focus,
	&:hover,
	&:active {
		color: $color-white;
		background-color: map-get($buttonPalette, hover);
	}
}


@mixin buttonPrimaryDark {
	color: $color-purple;
	text-align: center;
	font-family: inherit;
	padding: pxToRem(11) pxToRem(25);
	border: none;
	border-radius: $border-radius;
	background-color: $color-white;
	@include customFontSize(14, 14);
	text-decoration: none;

	display: inline-block;
	vertical-align: middle;
	cursor: pointer;

	transition: all $animation-duration $animation-timing;
	appearance: none;
	outline: 0;
	opacity: 1;

	&:focus,
	&:hover,
	&:active {
		opacity: 0.6;
		transition: all $animation-duration $animation-timing;
	}
}

/*
	Buttons: secondary
*/
.button--secondary {
	color: map-get($buttonPalette, default);
	background-color: $color-white;
	border-color: map-get($buttonPalette, default);
	border-radius: $border-radius;

	&:focus,
	&:hover,
	&:active {
		color: map-get($buttonPalette, hover);
		background-color: $color-white;
		border-color: map-get($buttonPalette, hover);
	}
}

@mixin buttonSecondary {
	color: map-get($buttonPalette, default);
	background-color: $color-white;
	border-color: map-get($buttonPalette, default);
	border-radius: $border-radius;

	&:focus,
	&:hover,
	&:active {
		color: map-get($buttonPalette, hover);
		background-color: $color-white;
		border-color: map-get($buttonPalette, hover);
	}
}

/*
	Buttons: links
*/
.button--link {
	color: map-get($buttonPalette, default);
	border: none;
	outline: none;
	background: none;
	padding: 0;

	&:focus,
	&:hover,
	&:active {
		color: map-get($buttonPalette, hover);
		background-color: transparent;

		.svg_icon {
			fill: map-get($buttonPalette, hover);
		}
	}
}

@include bp-tablet {
	.button {
		padding: pxToRem(11);
	}
}

.high_contrast {
	.button--secondary {
		@include buttonPrimary;
	}
}
