.body_content {}

.cms_content {
	h1, h2, h3, h4, h5, h6,
	ol, ul, dd, dl, p {
		margin-bottom: gridUnit(1);
	}
}

.dark {
	div, dl, dt, dd, ul, ol, li,
	h1, h2, h3, h4, h5, h6,
	span, form, p, th, td {
		color: $color-white;
	}
}
