@mixin featuredTilesContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@include bp-mobile {
		display: block;
	}

	@content;
}

@mixin featuredTilesItem {
	@include bp-tablet {
		margin: 0 5px;
	}

	@include bp-mobile {
		width: 100%;
		margin: 0 0 gridUnit(3) 0;
	}
}

@mixin featuredTilesBackgroundImageWrapper {
	overflow: hidden;
	position: relative;
}

@mixin featuredTilesBackgroundImage {
	display: block;
	transform: scale(1);
	min-height: gridUnit(16.5);
	@include backgroundCover();
	@content;

	@include bp-tablet {
		min-height: gridUnit(12.5);
	}
}

@mixin featuredTilesContent {
	display: block;
	padding-left: pxToRem(25);
	margin-top: pxToRem(-14);

	@include bp-tablet {
		padding-left: gridUnit(1);
	}
}

@mixin featuredTilesSupTitle {
	display: inline-block;
	font-size: pxToRem(14);
	font-weight: $fontWeight-light;
	background-color: $color-yellow;
	text-decoration: none;
	padding: 0 gridUnit(0.75);
	width: auto;
	color: map-get($colorPalette, 'dark-grey' );
	position: relative;
	z-index: 1;

	a {
		color: map-get($colorPalette, 'dark-grey' );
		text-decoration: none;

		&:hover,
		&:focus {
			color: map-get($colorPalette, 'primary' );
		}
	}
}

@mixin featuredTilesTitle {
	padding-top: gridUnit(0.5);
	font-size: pxToRem(20);
	font-weight: $fontWeight-normal;
	line-height: 1.2;

	a {
		text-decoration: none;
		color: map-get($colorPalette, 'dark-grey' );

		&:hover {
			color: map-get($colorPalette, 'primary' );
		}
	}
}

@mixin featuredTilesTextContent {
	font-weight: $fontWeight-light;
	margin-top: gridUnit(.75);
}

@mixin featuredTilesLearnMoreLink {
	@include globalFontSize('subheader');
	margin-top: gridUnit(1);
	border-bottom: 1px solid map-get($colorPalette, 'primary');
	display: inline-block;
	text-decoration: none;
	width: auto;

	a {
		text-decoration: none;
	}
}
