
form {
	.form_select__value-container {
		padding-left: pxToRem(16);
		padding-right: pxToRem(16);
	}
	.form_select__menu {
		margin: 0;
		border-radius: 2px;
		border: 1px solid rgba(116,116,118,0.2);
		box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.15);
	}
}
