/*
	Elements: Forms
*/

label {
	display: block;
	@include customFontSize($input-font-size, 18);
}


/*
	Form Element Base - SCSS Placeholder
*/
%form-element-base {
	display: block;
	width: 100%;
	padding: $input-padding;
	@include customFontSize(12, 14);

	color: $input-color;
	border: $input-border;
	border-radius: $input-border-radius;
	background-color: $color-white;

	font-weight: $input-font-weight;
	appearance: none;
	transition: $input-transition;
	will-change: border-color;

	&:focus {
		outline: none;
		border: $input-border-focus;
	}
}


/*
	Form Inputs
*/
select,
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'] {
	@extend %form-element-base;
	// height: pxToRem($input-font-size * 2.92);
	margin: 0 0 gridUnit(1);
}
textarea {
	@extend %form-element-base;
}
select,
textarea,
input {
	&::placeholder {
		color: $color-dark-grey;
	}
	&:disabled,
	&[readonly] {
		opacity: 0.6;
		background-color: #e6e6e6;
		cursor: not-allowed;
	}
}
select {
	padding-right: gridUnit(2);
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M15.825 9L12 12.709 8.175 9 7 10.142 12 15l5-4.858z' style='fill:rgba(178,81,158,1)' /></svg>");
	background-origin: content-box;
	background-position: right -1.5rem center;
	background-repeat: no-repeat;
	background-size: 28px 28px;

	// Hide the default dropdown arrow in newer IE versions
	&::-ms-expand {
		display: none;
	}

	&[multiple] {
		height: auto;
		background-image: none;
		overflow: auto;
	}
}


/*
	Form Buttons
*/
[type='submit'],
[type='button'] {
	appearance: none;
}


/*
	Form Labels
*/
label {
	display: block;
}


/*
	Form Controls
*/
.form_control-container,
.form_control-fieldset {
	margin-bottom: gridUnit(2);
}
.form_control-container {}
.form_control-fieldset {
	padding: gridUnit(1);
}
.form_control-label {
	margin-bottom: gridUnit(0.5);
	font-weight: $fontWeight-semibold;

	&.radio,
	&.checkbox {
		margin-bottom: 0;
		cursor: pointer;
		font-weight: inherit;
	}
}
.form_control-input {
	.has-error & {
		border-color: map-get($colorPalette, alert);
		margin-bottom: gridUnit(0.5);
	}
}
.form_control-message {
	display: none;

	.has-error &,
	.has-success & {
		display: block;
	}
	.has-error & {
		@include globalFontSize('footer');
		font-weight: $fontWeight-semibold;
		color: map-get($colorPalette, alert);
	}
}


/*
	Radio buttons and Checkboxes
*/
[type="checkbox"]+label[for],
[type="radio"]+label[for],
[type="checkbox"]+.wpcf7-list-item-label,
[type="radio"]+.wpcf7-list-item-label {
	cursor: pointer;
	user-select: none;
}

.radio, .checkbox {
	position: relative;
	margin-bottom: gridUnit(0.5);

	input {
		position: absolute;
		opacity: 0;

		+ label,
		+ .wpcf7-list-item-label {
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: -(pxToRem(2));
				cursor: pointer;
				transition: all $animation-duration $animation-timing;
				transition-property: background-color, color, opacity;
				will-change: background-color, color, opacity;
			}
			position: relative;
			padding-left: gridUnit(2);
			min-height: pxToRem(20);
		}
	}
}


/*
	Radio buttons
*/
.radio {
	[type="radio"] {
		+ label:before,
		+ .wpcf7-list-item-label:before {
			border-radius: 100%;
			border: 2px solid map-get($buttonPalette, default);
			width: pxToRem(20);
			height: pxToRem(20);
			margin-right: pxToRem(5);
			vertical-align: top;
			text-align: center;
		}
		&:checked {
			+ label:before,
			+ .wpcf7-list-item-label:before {
				background-color: map-get($buttonPalette, default);
				box-shadow: inset 0 0 0 pxToRem(4) $color-white;
			}
		}
		&:disabled {
			+ label:before,
			+ .wpcf7-list-item-label:before {
				border-color: lighten(map-get($colorPalette, dark-grey), 40%);
			}
		}
		&:focus {
			+ label:before,
			+ .wpcf7-list-item-label:before {
				background-color: map-get($buttonPalette, hover);
				border-color: map-get($buttonPalette, hover);
			}
		}
	}
}


/*
	Checkboxes
*/
.checkbox {
	[type="checkbox"] {
		+ label,
		+ .wpcf7-list-item-label {
			&:before {
				width: pxToRem(20);
				height: pxToRem(20);
				border: 2px solid map-get($buttonPalette, default);
				border-radius: $border-radius;
				background-color: $color-white;
				appearance: none;
			}

			&:after {
				top: -(pxToRem(10));
				width: pxToRem(20);
				height: pxToRem(33);
				border-bottom: 6px solid $color-white;
				border-right: 6px solid $color-white;
				transform: rotate(45deg) scale(.35);
				opacity: 0;
			}
		}
		&:checked {
			+ label,
			+ .wpcf7-list-item-label {
				&:before {
					background-color: map-get($buttonPalette, default);
				}
				&:after {
					opacity: 1;
				}
			}
		}
		&:disabled {
			+ label,
			+ .wpcf7-list-item-label {
				&:before {
					border-color: lighten(map-get($colorPalette, dark-grey), 40%);
					background-color: $color-white;
				}
				&:after {
					border-color: map-get($colorPalette, dark-grey);
				}
			}
		}
		&:focus {
			+ label,
			+ .wpcf7-list-item-label {
				&:before {
					// background-color: map-get($buttonPalette, hover);
					border-color: map-get($buttonPalette, default);
				}
			}
		}
	}
}

/*
	Contact form 7
*/
.form-header {
	@include globalFontSize('heading4');
	font-weight: $fontWeight-normal;
	margin-bottom: gridUnit(1);
	width: 100%;
}

// radio buttons - remove left margin
span.wpcf7-list-item {
	min-width: 80px;
	&.first {
		margin-left: 0;
	}
}
input.wpcf7-not-valid {
	border-color: map-get($colorPalette, alert);
}
span.wpcf7-not-valid-tip {
	color: map-get($colorPalette, alert);
	padding-top: gridUnit(0.3);
	font-size: pxToRem(11);
}
div.wpcf7-response-output {
	color: map-get($colorPalette, alert);
	border-radius: 3px;
	border-color: transparent;
	font-size: gridUnit(1.5);
	margin: 0 0 30px;
	padding: 15px;
	text-align: center;
	opacity: 1;

	&.wpcf7-mail-sent-ok {
		display: block;
		color: inherit;
		border-color: transparent;
		font-weight: $fontWeight-semibold;
	}
}
span.wpcf7-radio {
	display: flex;

	.wpcf7-list-item {
		flex: 1;
		max-width: gridUnit(8);
	}
}

/*
	Contact form 7 - Enquiry form
*/
.contact_form {
	width: 100%;
	margin-bottom: gridUnit(2);

	select,
	[type='text'],
	[type='password'],
	[type='date'],
	[type='datetime'],
	[type='datetime-local'],
	[type='month'],
	[type='week'],
	[type='email'],
	[type='number'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='url'],
	[type='color'] {
		margin-bottom: 0;
	}
	.form_control-container {
		margin-bottom: gridUnit(1.5);

		br {
			display: none;
		}
	}
}
.contact_form-date,
.contact_form-subscribe,
.contact_form-columns {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}
.contact_form-columns {
	.form_control-container {
		width: 49%;
		&:nth-child(odd) {
			margin-right: 2%;
		}
	}
}
.contact_form-date {
	.form_control-container {
		width: 32%;
		margin-right: 2%;
		&.end {
			margin-right: 0;
		}
	}
}

.contact_form-subscribe {
	.form_control-container {
		width: calc(25% - 16px);
		margin-right: gridUnit(1);
		margin-bottom: 0px;

		@include bp-tablet {
			width: 100%;
			margin: 0 0 gridUnit(1) 0;
		}

		&.end {
			margin-right: 0;
		}

		&:nth-child(odd) {
			margin-right: gridUnit(1);

			@include bp-tablet {
				width: 100%;
				margin: 0 0 gridUnit(1) 0;
			}
		}
	}

	.wpcf7-submit {
		width: 100%;
	}
}

.contact_form-block {
	margin-top: gridUnit(1);
	margin-bottom: gridUnit(1.5);
}


@include bp-mobile {
	.form-header {
		margin-bottom: gridUnit(2);
	}
	span.wpcf7-list-item {
		min-width: 80px;
		display: block;
		margin: 0 0 2em;
	}
	span.wpcf7-radio {
		display: block;
	}
	.contact_form-columns {
		.form_control-container {
			width: 100%;
			&:nth-child(odd) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	select,
	textarea,
	input,
	.coact_select__input,
	.coact_search-select__input {
		input {
			font-size: 16px !important;
		}
	}
}
