h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	color: currentColor;
}

h1,
.h1 {
	@include globalFontSize('heading1');
}

h2,
.h2 {
	@include globalFontSize('heading2');
}

h3,
.h3 {
	@include globalFontSize('heading3');
}

h4,
.h4 {
	@include globalFontSize('heading4');
}

.display1 {
	@include globalFontSize('display1');
}

.display2 {
	@include globalFontSize('display2');
}

.body1 {
	@include globalFontSize('body1');
}

.body2 {
	@include globalFontSize('body2');
}

.subheader {
	@include globalFontSize('subheader');
}
