a {
	color: map-get($buttonPalette, default);
	// text-decoration: none;
	transition: color $animation-duration $animation-timing;
	will-change: color;

	&:hover,
	&:focus,
	&:active {
		color: map-get($buttonPalette, hover);
	}

	&.dark  {
		&:hover,
		&:focus,
		&:active {
			opacity: 0.7;
		}
	}
}
.link_overlay {
	position: relative;
}
.link_overlay-anchor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
button.link_overlay-anchor {
	border: none;
	outline: none;
	background: none;
	padding: 0;
}

.phantom-phone-number {
	color: inherit;
	text-decoration: none;
}
