.mega_menu {
	display: block;
	background-color: map-get($colorPalette, secondary );
	min-height: pxToRem(48);
	width: 100%;

	@include bp-tablet {
		display: none;
	}

	.sub-menu {
		display: none;
	}

	.menu {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		color: $color-black;
		padding: 0px;
		margin: 0px;
		align-self: flex-start;

		.push {
			margin-left: auto;
		}

		li.current-menu-item {
			background-color: $color-white;
		}

		a {
			color: $color-black;
			display: block;
			text-decoration: none;
			font-size: pxToRem(12);
			padding: gridUnit(1);

			&:hover {
				background-color: $color-white;
			}
		}
	}

	.accessibility-item {
		a {
			padding-right: gridUnit(2);
			background-image: url('#{$asset-url}/assets/icons/common-dropdown.svg');
			background-repeat: no-repeat;
			background-position: 87% 50%;
		}
	}
}

.access-open .trigger-accessibility {
	background-color: $color-white;
}

.mega_menu-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.accessibility-item.focus-within {
	background-color: $color-white;
}

.mega_menu-right_container {
	display: flex;
	.menu {
		display: inline-block;

		li {
			display: inline-block;
		}
	}
}

// Accessabilty Change
.high_contrast {
	.mega_menu {
		background-color: $color-pale-grey;
	}
}
