.mobile_menu {
	background-color: $color-white;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		background-color: $color-pale-grey;
		position: relative;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			background-color: $color-purple;
			color: $color-white;

			a {
				color: $color-white;
			}

			button {
				@include setSvgColor($color-white);
				background: transparent;
				border: none;
			}

			.submenu {
				span {
					background-color: $color-white;
					a {color: $color-purple;}
				}

				button {
					@include setSvgColor($color-purple);
				}
			}
		}

		span {
			display: flex;
			align-items: center;
			min-height: pxToRem(30);
		}

		span {
			padding: gridUnit(1) gridUnit(2);
			border-bottom: $color-medium-grey 1px solid;
		}

		a {
			color: $color-dark-grey;
			text-decoration: none;
			flex-grow: 1;
		}
	}

	button {
		@include setSvgColor($color-purple);
	}

	.submenu {
		display: block;
	}

	.mobile_menu_item.mobile_menu_item--open {
		button {
			transform: rotate(180deg);
		}

		.mobile_menu_item.mobile_menu_item--closed {
			button {
				transform: rotate(0deg);
			}
		}
	}

	.search_box {
		padding: gridUnit(.5) gridUnit(1);
	}

	.search_box-container {
		.search_box-search_query {
			display: flex;
			align-items: center;
			flex: 1 0 auto;
		}

		.header-get_in_touch_button   {
			margin-right: 0;

			.button {
				min-width: pxToRem(68);
			}
		}

		span {
			padding: gridUnit(1);
			padding-left: 0;
		}

		form {
			display: flex;
			align-items: center;

			input {
				flex: 1 0 auto;
				padding: 0 0 0 0;
				border: none;
				outline: 0;

				@include placeholder {
					font-weight: $fontWeight-light;
				}
			}
		}
	}

	.access-menu {
		li:first-child{
			color: $color-black;
			background-color: $color-white;

			.title {
				color: $color-black;
				border: 0px;
				padding-bottom: 0px;
			}

			.accesssibilty_module {
				position: relative;

				span {
					padding: 0;
					margin: 0;
					border: 0;
				}
			}

			.accesssibilty_module-contrast {
				display: flex;
				justify-content: space-between;
				padding: gridUnit(1) 0;
				margin: 0 gridUnit(2);

				.switch {
					margin-top: 6px;
				}
			}

			.accesssibilty_module-text_size {
				display: flex;
				justify-content: space-between;
				padding: gridUnit(1) gridUnit(2);

				div {
					display: flex;

					span {
						margin: 0 10px;
					}
				}
			}
		}
	}
}
