$transition: all .3s ease-in;

.promotional_cta-container {
	position: fixed;
	bottom: 16px;
	left: 16px;
	z-index: 9;

	transform: translateY(calc(128px + 16px));
	transition: $transition;

	&--active {
		transform: translateY(0px);
		transition: $transition;
	}

	@include bp-mobile {
		width: 100%;
	}
}

.promotional_cta {
	//width: 100%;
	width: pxToRem(460);
	min-height: pxToRem(128);
	background-color: $color-white;
	position: relative;
	display: flex;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);

	@include bp-mobile {
		width: calc(100% - 32px);
	}
}

.promotional_cta-anchor {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: none;
	border: none;
}

.promotional_cta-image {
	min-width: pxToRem(135);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include bp-mobile {
		min-width: pxToRem(87);
	}
}

.promotional_cta-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 gridUnit(3) 0 gridUnit(2);

	@include bp-mobile {
		padding: 0 gridUnit(2) 0 gridUnit(1);
	}
}

.promotional_cta-promotional_text {
	display: block;
	color: $color-dark-grey;
	font-family: $fontStack;
	font-size: pxToRem(14);
	font-weight: 500;
	line-height: pxToRem(24);
	margin-bottom: gridUnit(1);

	@include bp-mobile {
		margin-bottom: gridUnit(.5);
	}
}

.promotional_cta-promotional_link_label {
	color: $color-purple;
	font-family: $fontStack;
	font-size: pxToRem(14);
	font-weight: 500;
	line-height: pxToRem(24);
	text-decoration: underline;
}

.promotional_cta-close {
	position: absolute;
	right: gridUnit(.75);
	top: gridUnit(.75);

	svg {
		width: 16px;
		height: 16px;
	}
}

// IE11  Specific styles
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.promotional_cta {
		height: pxToRem(128);
	}

	.promotional_cta-detail {
		width: 100%;
	}
}
