.small_tile_cta {
	background-color: $color-white;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
	position: relative;
	flex: 1 0 auto;
	margin: 0 gridUnit(1);
	flex-basis: auto;
	margin-bottom: gridUnit(2);
	transition: 0s linear all;

	@include bp-tablet {
		margin: 0 0 gridUnit(2) 0;
	}

	&:hover {
		background-color: $color-purple;

		a {
			color: $color-white;
			transition: 0s linear all;
		}
	}
}

.small_tile_cta-link {
	text-decoration: none;
	padding: gridUnit(1) gridUnit(1.5);
	flex-grow: 1;
}

.small_tile_cta-label {

}

.small_tile_cta-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%) rotate(-90deg);
}
