$transition: all .3s ease-in;

.subscribe_cta-callout {
	position: fixed;
	background-color: $color-purple;
	padding: gridUnit(0.5) gridUnit(1.5);
	color: $color-white;
	bottom: gridUnit(1);
	right: gridUnit(1);
	display: flex;
	@include globalFontSize(subheader);
	border-radius: 2px;
	transform: translateY(70px);
	transition: $transition;
	z-index: 70;

	svg {
		fill: $color-white;
		margin-right: gridUnit(0.5);
	}

	&.active {
		transform: translateY(0px);
		transition: $transition;
	}

	@include bp-mobile {
		display: none;
	}
}
