$transitionTiming: all .6s;

.tile_post {
	&:hover {
		.tile_post-image {
			transform: scale(1.1);
			transition: $transitionTiming;
		}
	}
}

.tile_post-image_wrapper {
	@include featuredTilesBackgroundImageWrapper;
}

.tile_post-image {
	@include featuredTilesBackgroundImage;
	transition: $transitionTiming;
	min-height: pxToRem(216);
}

.tile_post-content {
	@include featuredTilesContent;
}

.tile_post-cat_name{
	@include featuredTilesSupTitle;
}

.tile_post-post_title {
	@include featuredTilesTitle;
}

.tile_post-post_excerpt {
	@include featuredTilesTextContent;
}

.tile_post-post_link {
	@include featuredTilesLearnMoreLink;
}

//High contrast
.high_contrast {
	.tile_post-cat_name{
		background-color: $color-pale-grey;
	}
}
