//Default breakpoints
@mixin bp-mobile {
	@media only screen and #{$breakpoint_media--mobile} {
		@content;
	}
}

@mixin bp-tablet {
	@media only screen and #{$breakpoint_media--tablet} {
		@content;
	}
}

@mixin bp-large-tablet {
	@media only screen and #{$breakpoint_media--largeTablet} {
		@content;
	}
}

@mixin bp-large {
	@media only screen and #{$breakpoint_media--largeScreen} {
		@content;
	}
}

//Custom breakpoints
@mixin bp-default-layout-width {
	@media screen and (max-width: $layout-width-default) {
		@content;
	}
}

@mixin bp-xlarge {
	@media only screen and #{$breakpoint_media--x_large_screen} {
		@content;
	}
}

@mixin bp-super-large {
	@media only screen and #{$breakpoint_media--super_large_screen} {
		@content;
	}
}
