@mixin globalFontSize($label) {
	$size: map-get($fontSizes, $label);
	font-size: map-get($size, 'font-size');
	line-height: map-get($size, 'line-height');
	@if (map-get($size, 'font-weight'))  {
		font-weight: map-get($size, 'font-weight');
	}
}

@mixin customFontSize($pixels, $lineHeight: 1) {
	font-size: pxToRem($pixels);
	line-height: ($lineHeight/$pixels);
}

@mixin setLinkStyle($color) {
	@include globalFontSize();
	border-bottom: $color 1px solid;
}

@mixin overrideLinkStyle($color) {
	color: $color;
	border-bottom: $color 1px solid;
}
