@mixin positionAbsolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

@mixin backgroundCover() {
	background-size: cover;
	background-position: center center;
}

@mixin ellipseText() {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

@mixin hideDesktopShowMobile() {
	display: none;

	@include bp-mobile {
		display: block;
	}
}

@mixin hideMobileShowDesktop() {
	display: block;

	@include bp-mobile {
		display: none;
	}
}

@mixin setSvgColor($color: $color-black) {
	fill: $color;
}

@mixin sizeSetup($value) {
	height: $value;
	width: $value;
}

//PlaceHolder
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
