@font-face {
font-family:'Montserrat';
font-style:normal;
font-weight:200;
src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gnD_vx3rCs.woff2) format('woff2')}

@font-face {
font-family:'Montserrat';
font-style:normal;
font-weight:300;
src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD_vx3rCs.woff2) format('woff2')}

body {
font-family:"Montserrat", arial, sans-serif}
	
#datavis {
max-width:900px;
font-weight:400;
padding:1rem;
margin:auto}

#datavis a {
cursor:pointer}

#datavis-p-01 {
visibility:hidden}

#datavis.loaded #datavis-p-01 {
visibility:visible}

#datavis h1 {
  text-align: center;
  margin-bottom: 16px;
}

#datavis h2 {
  margin-bottom: 16px;
}

#datavis .intro {
max-width:640px;
text-align:center;
margin:0 auto 2rem}

#datavis-p-02,
#datavis.results #datavis-p-01 {
display:none}

#datavis.results #datavis-p-02 {
max-width:70.25rem;
display:block;
margin:auto}

#datavis section {
margin-bottom:4rem;
display:block}

#datavis h3 {
text-align:center}

#datavis h3 b {
font-weight:700}

[data-current="Artisans"] #datavis-stats > div > span {
color:#7DD1E3}

[data-current="Carers"] #datavis-stats > div > span {
color:#34A2A0}

[data-current="Coordinators"] #datavis-stats > div > span {
color:#F252B5}

[data-current="Designers"] #datavis-stats > div > span {
color:#FFD866}

[data-current="Generators"] #datavis-stats > div > span {
color:#F26A49}

[data-current="Informers"] #datavis-stats > div > span {
color:#92D057}

[data-current="Technologists"] #datavis-stats > div > span {
color:#b2519e}

/* PAGE 1 */

#datavis-p-01 {
text-align:center}

#datavis-p-01 .step-2 h3 {
margin-top:2rem;
padding-top:4rem;
position:relative}

#datavis-p-01 .intro {
position:relative;
margin-top:2rem;
padding-top:4rem;
}

#datavis-p-01 .intro::before,
#datavis-p-01 .step-2 h3::before {
content:'1';
position:absolute;
left:50%;
top:0;
width:2.5rem;
height:2.5rem;
border-radius:50%;
border:2px solid #B54F9B;
color:#B54F9B;
/*text-indent:.1em;
line-height:2.33rem;*/
line-height:36px;
margin-left:-1.25rem}

#datavis-p-01 .step-2 h3:before {
content:'2'}

#datavis-clusters {
margin:1rem 0;
display:-webkit-flex;
-webkit-justify-content:center;
-webkit-flex-wrap:wrap;
display:flex;
justify-content:center;
flex-wrap:wrap}

#datavis-clusters > div {
margin:.5rem;
width:200px;
padding:1.25rem;
position:relative;
border:1px dashed hsla(240,1%,46%,.5);
border-radius:.25rem;
font-size:.8125rem;
line-height:1.33}

#datavis-clusters > div:before {
content:'';
position:absolute;
left:50%;
top:0;
width:1rem;
height:1rem;
border-radius:50%;
background:#fff;
border:.25rem solid #7DD1E3;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%)}

#datavis-clusters > div:hover {
cursor:pointer;
background:#f6f6f6}

#datavis-clusters > div.on:before,
#datavis-clusters > div:hover:before {
width:1.125rem;
height:1.125rem}

#datavis-clusters > div.on {
background:#efefef;
border-color:transparent}

#datavis-clusters .datavis-artisans:before {
border-color:#7DD1E3}

#datavis-clusters .datavis-carers:before {
border-color:#34A2A0}

#datavis-clusters .datavis-coordinators:before {
border-color:#F252B5}

#datavis-clusters .datavis-designers:before {
border-color:#FFD866}

#datavis-clusters .datavis-generators:before {
border-color:#F26A49}

#datavis-clusters .datavis-informers:before {
border-color:#92D057}

#datavis-clusters .datavis-technologists:before {
border-color:#b2519e}

#datavis-clusters h4 {
font-weight:bold}

#datavis-pc {
text-align:center;
display:block;
margin:1rem auto;
font-size:1.75rem;
width:8rem}

/*
::-webkit-input-placeholder,
::input-placeholder {
color:#ccc}
*/

#datavis-error-msg {
opacity:0;
margin-top:1rem;
color:#ac1d2a;
font-size:.75rem;
line-height:1.33; 
transition:.2s}

#datavis-error-msg span {
display:block}

#datavis-error-msg.show {
opacity:1}

#datavis-p-01 > p:last-child {
margin-top:3rem;
font-size:.75rem}


/* PAGE 2 */

#datavis-p-02 svg {
display:block;
overflow:visible;
margin:0 auto 1rem;
width:2rem;
height:auto}

[data-current="Artisans"] #datavis-p-02 svg {
stroke:#7DD1E3}

[data-current="Carers"] #datavis-p-02 svg {
stroke:#34A2A0}

[data-current="Coordinators"] #datavis-p-02 svg {
stroke:#F252B5}

[data-current="Designers"] #datavis-p-02 svg {
stroke:#FFD866}

[data-current="Generators"] #datavis-p-02 svg {
stroke:#F26A49}

[data-current="Informers"] #datavis-p-02 svg {
stroke:#92D057}

[data-current="Technologists"] #datavis-p-02 svg {
stroke:#b2519e}

#datavis-p-02 h3 {
font-weight:300;
line-height:1.2}

#datavis-p-02 h3 + h6 {
font-size:11px;
text-align:center;
margin-top:.2rem}

#datavis-stats {
margin:3rem 0 2rem;
display:-webkit-flex;
-webkit-justify-content:center;
display:flex;
justify-content:center}

#datavis-stats > div {
text-align:center;
padding:1rem;
width:12.5rem;
margin:0 .5rem;
font-size:1rem}

#datavis-stats > div:nth-child(1) {
display:none}

#datavis-stats > div:nth-child(2) {
border-right:1px solid #3d3d3d}

#datavis-stats.alt > div:nth-child(1) {
display:block}

#datavis-stats.alt > div:nth-child(2) {
border-left:1px solid #3d3d3d}

#datavis-stats > div > span {
display:block;
line-height:1;
font-size:5rem;
font-weight:200}

#datavis-stats p {
line-height:1.25}

#datavis-stats p span {
display:block}

.datavis-note {
text-align:center;
margin-top:1rem;
font-size:.75rem}

#datavis table {
margin-top:2rem;
width:100%;
font-size:.8125rem;
line-height:1;
border-collapse:collapse}

#datavis table + p {
margin:.5rem 0 1rem .5rem;
font-size:11px}

#datavis table + p a {
border-bottom:1px solid #b2519e}

#datavis table + p a:before {
content:'SHOW ALL '}

#datavis table.all + p a:before {
content:'SHOW TOP '}

#datavis th {
font-size:11px;
line-height:1.2;
font-weight:normal;
text-transform:uppercase;
padding-bottom:.5rem;
-webkit-user-select:none;
user-select:none}

#datavis th:hover {
cursor:pointer;
color:#000}

#datavis tbody tr {
display:none;
opacity:0;
transition:opacity 1s}

#datavis tbody tr:nth-child(1),
#datavis tbody tr:nth-child(2),
#datavis tbody tr:nth-child(3),
#datavis tbody tr:nth-child(4),
#datavis tbody tr:nth-child(5),
#datavis table.all tbody tr {
display:table-row;
opacity:1}

#datavis tbody tr:nth-child(odd){
background:#F6F6F6}

#datavis td {
text-align:center;
padding:.5rem}

#datavis td:first-child {
width:60%;
text-align:left;
font-weight:bold}

#datavis-industries {
margin:2rem 0}

#datavis-industries > div {
margin-bottom:1rem}

#datavis-industries h4 {
margin:0 0 .33rem 40px;
font-weight:bold;
font-size:.8125rem;
line-height:1.2}

#datavis-industries .people {
position:relative;
vertical-align:middle;
padding-left:40px}

#datavis-industries .people:before {
position:absolute;
left:0;
top:0;
content:'';
display:inline-block;
width:30px;
height:30px;
border-radius:50%;
background:#29D07C url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'%3E%3Cg transform='translate(1 2)' stroke='%23fff' stroke-width='3' fill='none'%3E%3Cpath d='M8 16L8 0'/%3E%3Cpolyline points='0 8 8 0 16 8'/%3E%3C/g%3E%3C/svg%3E") no-repeat 50% 50%/65%}

#datavis-industries .fewer .people:before {
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
background-color:#E43A3C}

#datavis-industries svg {
display:inline-block;
width:15px;
height:30px;
margin:0 1px 2px 0;
vertical-align:middle;
position:relative}

/*
#datavis-industries svg:nth-child(3n+3){
left:1px}

#datavis-industries svg:nth-child(2n+11){
top:-1px}
*/

#datavis-industries .people span {
position:relative;
left:.1rem;
top:1px;
font-size:.75rem}

[data-current="Artisans"] #datavis-industries .bdy {
fill:#7DD1E3}

[data-current="Carers"] #datavis-industries .bdy {
fill:#34A2A0}

[data-current="Coordinators"] #datavis-industries .bdy {
fill:#F252B5}

[data-current="Designers"] #datavis-industries .bdy {
fill:#FFD866}

[data-current="Generators"] #datavis-industries .bdy {
fill:#F26A49}

[data-current="Informers"] #datavis-industries .bdy {
fill:#92D057}

[data-current="Technologists"] #datavis-industries .bdy {
fill:#b2519e}

#datavis .hero-ctas {
margin:2rem auto;
text-align:center}

.disclaimer {
text-align:center;
line-height:1.33;
margin:4rem auto 0;
font-size:.75rem}

@media screen and (max-width:655px){

	#datavis-clusters > div {
	width:40%}
	
	#datavis-stats > div > span {
    font-size:3rem;
    font-weight:300}

}

@media screen and (max-width:450px){

	#datavis {
	padding:1rem .5rem}

	#datavis-clusters > div {
	width:100%}
	
	#datavis-stats {
	margin:1.5rem 0}
	
	#datavis-stats > div  {
	width:auto!important;
    margin:0}
	
	#datavis-stats > div:nth-child(2){
	border-color:#efefef!important}
	
	#datavis-stats > div > span {
    font-size:2.5rem;
    font-weight:300}
	
	#datavis-stats p {
    font-size:.75rem;
	line-height:1.2}
	
	#datavis table {
	font-size:.75rem}
	
	#datavis th {
    font-size:.625rem}
	
	.datavis-note {
	margin-top:2rem}


}