.container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: $layout-width-default;
}

@mixin defaultContainer($width: $layout-width-default) {
	display: flex;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	//width: $width;
	max-width: $width;
	@content;

	@include bp-tablet {
		max-width: 100%;
	}

	@include bp-mobile {
		padding-left: gridUnit(1);
		padding-right: gridUnit(1);
	}
}
