.debug_stripe {
	padding: 1rem;
	font-size: 1rem;
	box-sizing: content-box;
	font-family: monospace;
	color: #fff;
	font-weight: bold;
	background-color: #23282d;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, rgba(255,255,255,.05) 8px, rgba(255,255,255,.05) 16px);
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
