iframe,
img,
legend {
	border: 0;
}

blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
p,
pre {
	margin: 0;
}

fieldset,
legend,
menu {
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
